.googlebtn, .trustbtn, .contactbtn, .itbtn {
  color: #fff;
  border-radius: 5px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 12px;
  border: none;
}

.culture, .choose-us, .btn {
  text-transform: uppercase;
  color: #fff;
  padding: 15px;
  border-style: none;
}

.devcourse a:hover,
.devcourse-content, .cyber a:hover,
.cyber-content, .webdesign a:hover,
.webdesign-content, .telecomsservices a:hover,
.telecoms-content, .digitalmarketing a:hover,
.digimarket-content, .itsupport a:hover,
.itsupport-content {
  color: #fff;
  text-decoration: underline;
}

.jobtitle3, .jobtitle2, .jobtitle1 {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.more {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.banner-image {
  position: relative;
}

.servicegrid .container .serveheadings {
  position: relative;
}

.creatingbox {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 50px;
}

.creatingbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: #ddd;
  border: 3px solid #333645;
  border-radius: 3px;
  padding-right: 20px;
}

.creatingbox input:checked ~ .checkmark {
  background-color: #333645;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.creatingbox input:checked ~ .checkmark:after {
  display: block;
}

.creatingbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.privacy {
  color: #666;
  text-decoration: underline;
}

.latestImg {
  position: relative;
}

.text-block1 {
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #2ecc71;
}
.text-block1 a {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}

.text-block2 {
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #926fb1;
}
.text-block2 a {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}

.text-block3 {
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #ce4125;
}
.text-block3 a {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}

.vacancies:hover {
  transform: translate(0, -15px);
}

.vacancies {
  transition: all 0.5s;
}

.btn--bespoke {
  background-color: #67809f;
}
.btn--digital {
  background-color: #2ecc71;
}
.btn--it-support {
  background-color: #4183d7;
}
.btn--telecoms {
  background-color: #d64541;
}
.btn--web {
  background-color: #926fb1;
}
.btn--cyber {
  background-color: #f62459;
}
.btn--developer {
  background-color: #ce4125;
}

.main-button {
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.bottom-left {
  margin-top: 20px;
}

#main {
  transition: margin-right 0.5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #333645;
  overflow-x: auto;
  transition: 0.5s;
  padding-top: 20px;
}
.sidenav .submenu {
  margin: 0 0 15px;
}
.sidenav .mob-submenu {
  padding: 20px 0 0 0;
  width: auto;
}
.sidenav .mob-submenu li:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.45);
}
.sidenav .mob-submenu li {
  padding: 0;
}
.sidenav .mob-submenu li a {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px;
  font-size: 16px;
}
.sidenav ul {
  padding: 21px;
  font-size: 18px;
  text-transform: uppercase;
  margin: -20px 0 0;
}
.sidenav ul li {
  color: #fff;
  list-style: none;
  padding: 20px 0 0;
}
.sidenav ul li a {
  padding: 19px 0 18px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
  border-radius: 3px;
  text-align: center;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
}

.new-subsection li {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.new-subsection .submenu li a {
  font-size: 14px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  padding: 15px 20px;
  position: relative;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* Media queries */
.container {
  width: 100%;
}
@media screen and (max-width: 575px) {
  .smallnav .container {
    padding: 0;
  }
  .inner .main-topnav .top-help {
    display: none;
  }
  .smallnav,
  .smallnavtop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  .smallnav .logo,
  .smallnavtop .logo {
    width: 60%;
  }
  .smallnav {
    width: 100%;
  }
  .smallnav .container {
    width: 320px;
  }
  .smallnav .container .searchform .searchbar .searchbtn {
    font-size: 20px;
  }
  .smallnav .container .smallnavtop {
    width: 320px;
  }
  .smallnav .container .smallnavtop .smallsearchphone {
    font-size: 35px;
  }
  .searchbar input {
    background-color: #ddd;
    border: none;
  }
  .searchform {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .searchbar {
    border: 1px solid #a3a8ac;
  }
  .searchbar button {
    background: #ddd;
  }
  .topnav .mainmenu {
    display: none;
  }
  .main-pic {
    position: relative;
    text-align: center;
    color: #fff;
  }
  .main-pic .container .top-left {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    padding: 0 30px;
  }
  .main-pic .container .top-left .bottom-left {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    margin-bottom: 15px;
  }
  .main-pic .banner-image .headerpic {
    height: 60vh;
    width: 100%;
    background-color: black;
  }
  .dotCounter {
    position: absolute;
    bottom: 40px;
    transform: translate(100%, 20%);
  }
  .servicegrid .upper-row .container .container {
    padding: 0;
  }
  .servicegrid .lower-row .container .container {
    padding: 0;
  }
  .servicegrid .serveheadings .service-subheading {
    display: none;
  }
  .reviews .googlebtn {
    font-size: 18px;
  }
  .latestnews {
    padding: 0 15px;
  }
  .latestnews .viewheading2 {
    display: none;
  }
  .latestnews .vacancies .container {
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  }
  .latestnews .vacancies .art-details {
    padding: 30px;
  }
  .latestnews .jobtitle1,
  .latestnews .jobtitle2,
  .latestnews .jobtitle3 {
    font-weight: 400px;
    font-size: 15px;
  }
  .latestnews .newsheading {
    font-size: 36px;
  }
  .latestnews .viewheading {
    font-size: 26px;
  }
  .newsarticles .container .vacancies .latestImg {
    padding: 0;
  }
  .clients-img {
    justify-content: space-around;
  }
  .newsletter .col-25 {
    float: left;
    margin-top: 6px;
  }
  footer .footerlist {
    font-size: 13px;
  }
  footer .footer-cols {
    margin-bottom: 30px;
  }
  footer h4 {
    margin-bottom: 26px;
  }
  footer .social-logos .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-left: 0;
  }
  footer .social-logos .container [class$=-btn] {
    padding: 12px 22px 16px;
    background-color: #212330;
    font-size: 26px;
    line-height: 26px;
    color: #fff;
    width: 35%;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  footer .social-logos .container .fb-btn:hover {
    background-color: #3b5998;
    text-decoration: none;
  }
  footer .social-logos .container .ln-btn:hover {
    background-color: #0077b5;
    text-decoration: none;
  }
  footer .social-logos .container .tw-btn:hover {
    background-color: #00aced;
    text-decoration: none;
  }
  footer .social-logos .container .in-btn:hover {
    background-color: #d93175;
    text-decoration: none;
  }
  footer .container .main-footer .container .footer-sections .footer-logo .light-logo {
    width: 250px;
  }
}
@media screen and (min-width: 575px) {
  .inner .main-topnav .container {
    width: 750px;
  }
  .inner .main-topnav .container .top-help {
    width: 100%;
  }
  .inner .main-topnav .container .top-help .itbtn,
  .inner .main-topnav .container .top-help .contactbtn,
  .inner .main-topnav .container .top-help .smallsearchphone {
    display: none;
  }
  .inner .main-topnav .smallnav {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .top-help {
    float: right;
  }
  .top-help {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0 15px 0;
  }
  .top-help .logo {
    width: 50%;
  }
  .searchbar input {
    width: 150px;
    font-size: small;
  }
  .searchbar button {
    color: #fff;
    background: #a3a8ac;
  }
  .newsarticles .container .vacancies .latestImg {
    padding: 0;
  }
  .main-pic {
    position: relative;
    text-align: center;
    color: #fff;
  }
  .main-pic .banner-image .headerpic {
    height: 550px;
    background-color: black;
  }
  .main-pic .container {
    width: 750px;
  }
  .main-pic .container .top-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    width: 100%;
  }
  .main-pic .container .top-left .bottom-left {
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    margin-bottom: 15px;
  }
  .servicegrid .container {
    width: 750px;
  }
  .servicegrid .container .serveheadings .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .servicegrid .lower-row {
    display: flex;
    flex-direction: column;
  }
  .servicegrid .lower-row .container {
    display: flex;
  }
  .servicegrid .service-subheading2 {
    display: none;
  }
  .reviews .container {
    width: 720px;
  }
  .reviews .container .intro-review .welcomenet .container p {
    margin: 0 0 25px;
  }
  .reviews .container .intro-review .welcomenet .container h2 {
    margin: -6px 0 40px;
  }
  .reviews .googlebtn {
    font-size: 20px;
  }
  .reviews .trustbtn {
    padding: 10px 30px;
  }
  .reviews .reviewer {
    font-size: 17.6px;
    margin: 0;
  }
  .reviews .culture {
    margin-bottom: 17px;
  }
  .latestnews .container {
    width: 750px;
    padding-top: 50px;
  }
  .latestnews .container .lateheadings {
    display: flex;
    justify-content: space-between;
  }
  .latestnews .container .lateheadings .newsheading,
  .latestnews .container .lateheadings .viewheading2 {
    margin: 0;
  }
  .latestnews .container .lateheadings .newsheading {
    font-size: 30px;
    font-weight: 600;
  }
  .latestnews .container .lateheadings .viewheading2 {
    font-size: 26px;
    font-weight: 600;
  }
  .latestnews .newsarticles .container {
    width: 750px;
    display: flex;
    justify-content: space-around;
  }
  .latestnews .newsarticles .container .vacancies {
    width: 50%;
    margin: 0 15px;
  }
  .latestnews .newsarticles .container .vacancies .latestImg {
    padding: 0;
  }
  .latestnews .newsarticles .container .vacancies .container {
    width: 350px;
    padding: 30px;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  }
  .viewheading,
  .lastone {
    display: none;
  }
  .clients-img {
    justify-content: space-between;
  }
  .newsletter .container {
    width: 720px;
  }
  footer .footerlist {
    font-size: 13px;
  }
  footer .colsforfooter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  footer h4 {
    margin-bottom: 26px;
  }
  footer .footer-cols {
    width: 50%;
    margin-bottom: 30px;
  }
  .social-logos .container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding-left: 0;
  }
  .social-logos .container [class$=-btn] {
    padding: 12px 22px 16px;
    background-color: #212330;
    font-size: 26px;
    line-height: 26px;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .social-logos .container .fb-btn:hover {
    background-color: #3b5998;
    text-decoration: none;
  }
  .social-logos .container .ln-btn:hover {
    background-color: #0077b5;
    text-decoration: none;
  }
  .social-logos .container .tw-btn:hover {
    background-color: #00aced;
    text-decoration: none;
  }
  .social-logos .container .in-btn:hover {
    background-color: #d93175;
    text-decoration: none;
  }
  footer .container .main-footer .container .footer-sections .footer-logo .light-logo {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .main-pic .dotCounter {
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translate(50%, 50%);
  }
  .main-pic .banner-image .imgText .top-left {
    font-size: 40px;
  }
  .main-pic .banner-image .imgText .top-left .bottom-left {
    font-size: 20px;
  }
  .main-pic .banner-image .imgText .top-left .main-button {
    font-size: 20px;
  }
  .servicegrid .container .serveheadings {
    display: flex;
    justify-content: space-between;
    width: 700px;
  }
  .servicegrid .container .serveheadings .container {
    width: 700px;
  }
  .servicegrid .container .service-blocks .upper-row .bespoke-b,
  .servicegrid .container .service-blocks .upper-row .it-b,
  .servicegrid .container .service-blocks .upper-row .digital-b {
    width: 720px;
  }
  .servicegrid .container .serveheadings .container {
    display: block;
  }
  .servicegrid .container .serveheadings .container h3 {
    float: left;
  }
  .servicegrid .container .serveheadings .container .service-subheading {
    float: right;
  }
  .copyright .container {
    width: 750px;
  }
  .latestnews .newsarticles .container .vacancies .latestImg {
    padding: 0;
  }
  .newsletter .new-section {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .smallnav,
  .smallsearchphone,
  .searchbar input {
    display: none;
  }
  .inner .main-topnav .container {
    width: 970px;
  }
  .inner .main-topnav .container .top-help {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    width: 970px;
    padding: 0;
  }
  .inner .main-topnav .container .top-help .itbtn,
  .inner .main-topnav .container .top-help .contactbtn {
    display: block;
  }
  .main-topnav .topnav {
    width: 100%;
  }
  .main-topnav .topnav .mainmenu .container {
    width: 970px;
  }
  .main-topnav .topnav .mainmenu .container .menu-breakdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .main-pic .banner-image .imgText .top-left {
    font-size: 64px;
  }
  .main-pic .banner-image .imgText .top-left .bottom-left {
    font-size: 26px;
  }
  .main-pic {
    position: relative;
    text-align: left;
    color: #fff;
  }
  .main-pic .container {
    width: 970px;
  }
  .main-pic .container .top-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 2px;
    width: 970px;
  }
  .main-pic .container .top-left .bottom-left {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    margin-bottom: 15px;
  }
  .latestnews .container {
    width: 930px;
  }
  .latestnews .newsarticles .container {
    width: 940px;
  }
  .latestnews .newsarticles .container .vacancies .latestImg {
    padding: 0;
  }
  .latestnews .newsarticles .container .vacancies .container {
    width: 100%;
  }
  .servicegrid .container {
    width: 970px;
  }
  .servicegrid .container .serveheadings {
    width: 945px;
  }
  .servicegrid .container .serveheadings .container {
    width: 945px;
  }
  .servicegrid .container .service-blocks .upper-row .container {
    display: flex;
  }
  .reviews .container {
    width: 970px;
  }
  .reviews .container .intro-review .starclient .container {
    width: 50%;
    float: left;
  }
  .reviews .container .intro-review .welcomenet .container {
    width: 50%;
    float: left;
    padding: 0 15px;
  }
  .clients-img {
    justify-content: space-between;
  }
  .newsletter .container {
    width: 970px;
  }
  .newsletter .tablerows {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  .newsletter .tablerows .row {
    flex: 1 1 450px;
  }
  .newsletter .tablerows .row .col-25 {
    display: inline-block;
    width: 100%;
    padding: 0 0 0 15px;
    font-size: 16px;
  }
  .newsletter .tablerows .row .col-75 {
    float: left;
    width: 100%;
    padding: 5px 15px;
  }
  .newsletter .tablerows .row input[type=text] {
    height: 47px;
    padding: 5px 15px;
  }
  footer .container {
    width: 970px;
  }
  footer .colsforfooter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  footer .footer-cols {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-bottom: 30px;
  }
  .copyright .container {
    width: 970px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
  .servicegrid .container {
    width: 970px;
  }
  .servicegrid .container .serveheadings {
    width: 945px;
  }
  .servicegrid .container .serveheadings .container {
    width: 945px;
  }
  .servicegrid .container .service-blocks .upper-row .container {
    display: flex;
  }
}
@media screen and (min-width: 575px) and (max-width: 750px) {
  .inner .main-topnav .container {
    width: 550px;
  }
}
@media screen and (min-width: 575px) and (max-width: 970px) {
  .topnav .mainmenu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .inner .main-topnav .container {
    width: 1120px;
  }
  .inner .main-topnav .container .top-help {
    width: 100%;
  }
  .inner .main-topnav .container .top-help .logo {
    width: 35%;
  }
  .inner .main-topnav .container .top-help .searchbar input {
    display: block;
    width: 240px;
  }
  .smallnav {
    display: none;
  }
  .main-topnav .topnav .mainmenu .container {
    width: 1170px;
  }
  .main-topnav .topnav .mainmenu .container .menu-breakdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .main-topnav .topnav .mainmenu .container .menu-breakdown .dropdown-bespoke {
    width: 100%;
  }
  .main-topnav .topnav .mainmenu .container .menu-breakdown .firstrow {
    width: auto;
    padding-left: 30px;
    align-items: center;
  }
  .main-pic {
    position: relative;
    text-align: left;
    color: #fff;
  }
  .main-pic .container {
    position: relative;
    width: 1170px;
  }
  .main-pic .container .top-left {
    position: absolute;
    transform: translate(-52%, -120%);
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
  }
  .main-pic .container .top-left .bottom-left {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 15px;
  }
  .main-pic .container .top-left .main-button {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #926fb1;
  }
  .servicegrid .container {
    width: 1170px;
  }
  .servicegrid .container .service-blocks .lower-row {
    flex-direction: row;
    justify-content: space-around;
  }
  .servicegrid .container .service-blocks .lower-row .lower-first {
    padding-right: 0;
  }
  .servicegrid .container .service-blocks .lower-row .lower-second {
    padding-left: 0;
  }
  .servicegrid .container .service-blocks .lower-row .container {
    width: 50%;
  }
  .servicegrid .container .servicegrid .container .serveheadings {
    width: 1170px;
  }
  .servicegrid .container {
    width: 1170px;
  }
  .servicegrid .container .serveheadings {
    display: flex;
    justify-content: space-between;
    width: 1130px;
  }
  .reviews .container {
    width: 1170px;
  }
  .trustbtn {
    position: absolute;
    max-width: fit-content;
    display: inline-flex;
    font-size: 18px;
  }
  .latestnews .newsarticles .container {
    width: 1170px;
  }
  .latestnews .container {
    width: 1170px;
  }
  .latestnews .container .lateheadings {
    width: 1120px;
  }
  .latestnews .lastone {
    display: block;
  }
  .latestnews .lastone .art-details {
    height: 288.13px;
  }
  .clients-img {
    justify-content: space-between;
  }
  .newsletter .container {
    width: 1170px;
  }
  footer .container {
    display: flex;
    justify-content: center;
    width: 1170px;
  }
  footer .footer-sections {
    display: flex;
    width: 1170px;
  }
  footer .footer-logo {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  footer .footer-logo .social-logos .container {
    width: 400px;
    justify-content: flex-start;
  }
  footer .footer-cols {
    padding: 0 15px;
    margin-bottom: 40px;
  }
  footer .colsforfooter {
    display: flex;
    justify-content: space-between;
  }
  .copyright .container {
    width: 1170px;
  }
  .inner .container {
    width: 100%;
    padding: 0;
  }
  .inner .container .container {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .inner .container .container .top-help .itbtn,
  .inner .container .container .top-help .contactbtn {
    height: 56px;
    font-size: 1.125rem;
    padding: 5px 15px;
    display: inline-block;
  }
}
footer {
  background-color: #333645;
  height: auto;
  position: relative;
  color: #fff;
  padding: 27px 0 0;
}
footer h4 {
  text-transform: uppercase;
  font-size: 16px;
}
footer .footerlist {
  list-style: none;
  padding: 0;
}
footer .footerlist a {
  color: white;
}

.copyright {
  background-color: #212330;
  color: #fff;
  padding: 10px 15px;
  font-size: small;
}

.copyright a {
  color: #fff;
}

.searchbar input {
  border: 1px solid #a3a8ac;
  font-size: 20px;
  padding: 13px;
}

.searchbar {
  display: flex;
}

::placeholder {
  color: #a3a8ac;
}

.menu {
  background-color: #333645;
  border-color: #333645;
  color: #fff;
  font-size: 25px;
  padding: 5px 15px;
  border-radius: 5px;
  height: 56px;
  line-height: 46px;
  float: left;
}

.menu:hover {
  background-color: #1d1f28;
}

.topnav {
  background-color: #333645;
  overflow: visible;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .icon {
  display: none;
}

.bespoke,
.itsupport,
.digitalmarketing,
.telecomsservices,
.webdesign,
.cyber,
.devcourse {
  float: left;
  overflow: hidden;
}
.bespoke:hover,
.itsupport:hover,
.digitalmarketing:hover,
.telecomsservices:hover,
.webdesign:hover,
.cyber:hover,
.devcourse:hover {
  overflow: visible;
}

[class$=-content] {
  padding-top: 25px;
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
}

a[class$=-content] {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav .mainmenu .container .menu-breakdown .dropdown-heading {
  display: block;
}

.bespoke a:hover,
.bespoke-content {
  background-color: #526781;
  color: #fff;
  text-decoration: underline;
}

.bespoke:hover .bespokebtn {
  background-color: #67809f;
}
.bespoke:hover .bespokebtn .bespokepic {
  color: #fff;
}

.bespokepic {
  color: #67809f;
}

.bespokebtn::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 90;
  width: 0;
  height: 0;
  border-color: #67809f transparent transparent;
  border-style: solid;
  border-width: 35px 51.5px 0;
}

.bespoke:hover .bespoke-content,
.itsupport:hover .itsupport-content,
.digitalmarketing:hover .digimarket-content,
.telecomsservices:hover .telecoms-content,
.webdesign:hover .webdesign-content,
.cyber:hover .cyber-content,
.devcourse:hover .devcourse-content {
  display: block;
}

.firstcolumn {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: auto;
}

/* Clear floats after the columns */
.firstrow:after {
  content: "";
  display: table;
  clear: both;
}

.itsupport a:hover,
.itsupport-content {
  background-color: #286abd;
}

.itsupportbtn::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 90;
  width: 0;
  height: 0;
  border-color: #4183d7 transparent transparent;
  border-style: solid;
  border-width: 35px 51.5px 0;
  border-width: 35px 46.5px 0;
}

.itsupport:hover .itsupportbtn {
  background-color: #4183d7;
}
.itsupport:hover .itsupportbtn .itpic {
  color: #fff;
}

.itpic {
  color: #4183d7;
}

.digitalmarketing a:hover,
.digimarket-content {
  background-color: #25a25a;
}

.digimarketbtn::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 90;
  width: 0;
  height: 0;
  border-color: #2ecc71 transparent transparent;
  border-style: solid;
  border-width: 35px 51.5px 0;
  border-width: 35px 53.5px 0;
}

.digitalmarketing:hover .digimarketbtn {
  background-color: #2ecc71;
}
.digitalmarketing:hover .digimarketbtn .digipic {
  color: #fff;
}

.digipic {
  color: #2ecc71;
}

.telecomsservices a:hover,
.telecoms-content {
  background-color: #bc2c28;
}

.telecomsbtn::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 90;
  width: 0;
  height: 0;
  border-color: #d64541 transparent transparent;
  border-style: solid;
  border-width: 35px 51.5px 0;
  border-width: 35px 47.5px 0;
}

.telecomsservices:hover .telecomsbtn {
  background-color: #d64541;
}
.telecomsservices:hover .telecomsbtn .telepic {
  color: #fff;
}

.telepic {
  color: #d64541;
}

.webdesign a:hover,
.webdesign-content {
  background-color: #79539a;
}

.webdesignbtn::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 90;
  width: 0;
  height: 0;
  border-color: #926fb1 transparent transparent;
  border-style: solid;
  border-width: 35px 51.5px 0;
  border-width: 35px 40.5px 0;
}

.webdesign:hover .webdesignbtn {
  background-color: #926fb1;
}
.webdesign:hover .webdesignbtn .webpic {
  color: #fff;
}

.webpic {
  font-size: 24px;
  color: #926fb1;
}

.cyber a:hover,
.cyber-content {
  background-color: #de093f;
}

.cybersecbtn::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 90;
  width: 0;
  height: 0;
  border-color: #f62459 transparent transparent;
  border-style: solid;
  border-width: 35px 51.5px 0;
  border-width: 35px 47.5px 0;
}

.cyber:hover .cybersecbtn {
  background-color: #f62459;
}
.cyber:hover .cybersecbtn .cyberpic {
  color: #fff;
}

.cyberpic {
  color: #f62459;
}

.devcourse a:hover,
.devcourse-content {
  background-color: #a3331d;
}

.devcoursebtn::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 90;
  width: 0;
  height: 0;
  border-color: #ce4125 transparent transparent;
  border-style: solid;
  border-width: 35px 51.5px 0;
  border-width: 35px 46.5px 0;
}

.devcourse:hover .devcoursebtn {
  background-color: #ce4125;
}
.devcourse:hover .devcoursebtn .devpic {
  color: #fff;
}

.devpic {
  color: #ce4125;
}

.content-heading {
  text-decoration: none;
  padding-left: 50px;
}

.headerpic {
  width: 100%;
}

.servicegrid {
  padding: 20px;
}
.servicegrid h3 {
  font-size: 43px;
  font-weight: 600;
}
.servicegrid a, .servicegrid h3 {
  color: #333645;
}

.service {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  cursor: pointer;
}
.service:hover .servedigital, .service:hover .digital-icon,
.service:hover .serveit, .service:hover .it-icon,
.service:hover .servebespoke, .service:hover .bespoke-icon,
.service:hover .servetelecoms, .service:hover .tele-icon,
.service:hover .serveweb, .service:hover .web-icon,
.service:hover .servecyber, .service:hover .cyber-icon,
.service:hover .servedev, .service:hover .dev-icon {
  background-color: #fff;
}
.service:hover .servebespoke, .service:hover .bespoke-icon {
  color: #67809f;
}
.service:hover .serveit, .service:hover .it-icon {
  color: #4183d7;
}
.service:hover .servedigital, .service:hover .digital-icon {
  color: #2ecc71;
}
.service:hover .servetelecoms, .service:hover .tele-icon {
  color: #d64541;
}
.service:hover .serveweb, .service:hover .web-icon {
  color: #926fb1;
}
.service:hover .servecyber, .service:hover .cyber-icon {
  color: #f62459;
}
.service:hover .servedev, .service:hover .dev-icon {
  color: #ce4125;
}

.bespoke-block:hover {
  background-color: #67809f;
  color: #fff;
  transform: translate(0, -15px);
}

.servebespoke:hover {
  color: #67809f;
}

.serveit:hover {
  color: #4183d7;
}

.it-block:hover {
  background-color: #4183d7;
  color: #fff;
  transform: translate(0, -15px);
}

.digital-block:hover {
  background-color: #2ecc71;
  color: #fff;
  transform: translate(0, -15px);
}

.servedigital:hover {
  color: #2ecc71;
}

.dev-block:hover {
  background-color: #ce4125;
  color: #fff;
  transform: translate(0, -15px);
}

.servedev:hover {
  color: #ce4125;
}

.cyber-block:hover {
  background-color: #f62459;
  color: #fff;
  transform: translate(0, -15px);
}

.servecyber:hover {
  color: #f62459;
}

.web-block:hover {
  background-color: #926fb1;
  color: #fff;
  transform: translate(0, -15px);
}

.serveweb:hover {
  color: #926fb1;
}

.telecoms-block:hover {
  background-color: #d64541;
  color: #fff;
  transform: translate(0, -15px);
}

.servetelecoms:hover {
  color: #d64541;
}

.servicegrid .container .serveheadings .container {
  padding-bottom: 20px;
}
.servicegrid .container .serveheadings .container .service-subheading {
  font-weight: 600;
}

.reviews {
  background-color: #333645;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.4px;
  padding: 50px 0;
}

.reviews .trustbtn {
  margin: 20px 0 0;
  font-size: 18px;
}
.reviews .googlebtn {
  margin: 20px 8px 0 0;
  padding: 10px 30px;
}
.reviews .intro-review .welcomenet p {
  font-size: 16px;
}
.reviews .intro-review .welcomenet h2 {
  font-size: 36px;
}

.ash-review {
  font-style: italic;
  font-size: 20.8px;
  font-weight: 600;
  margin: 0 0 25px;
}

.reviewer {
  color: #a3a8ac;
  font-size: 17px;
  font-weight: bold;
  margin: 0 0 20px;
}

.ashllp {
  font-weight: bold;
  color: #fff;
}

.stars {
  color: orange;
  margin-bottom: 25px;
  font-size: 40px;
}

.clients-think {
  font-size: 36px;
}

.clients {
  padding: 20px 15px;
}

.clients-img:hover,
.partners:hover {
  filter: grayscale(10%);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.newsletter {
  background-color: #ddd;
  color: #666;
  padding: 50px 15px;
}
.newsletter .privacy-label {
  vertical-align: top;
  font-size: 16px;
  display: table-cell;
}
.newsletter .privacy-label .privacy {
  color: inherit;
  text-decoration: underline;
}
.newsletter .private-check {
  position: relative;
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
  float: left;
  margin-right: 20px;
}
.newsletter .row {
  padding: 0 15px;
}
.newsletter .row input[type=text] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 3px;
  resize: vertical;
  margin-bottom: 10px;
}
.newsletter .marketinfo {
  margin-bottom: 15px;
}
.newsletter .col-25 {
  float: left;
  margin-top: 6px;
}
.newsletter .col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
}
.newsletter h2 {
  font-weight: 400;
  margin: 0 0 15px;
  color: #333645;
  font-size: 32px;
  text-align: left;
}

section {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.latestnews {
  display: flex;
  flex-direction: column;
}

.jobpic {
  border-radius: 100%;
}

.jobtitle {
  color: #4183d7;
}

.postedby {
  font-size: 15px;
  display: inline-block;
  padding: 15px;
}

.jobspan {
  color: #ddd;
  text-transform: uppercase;
  font-size: 12px;
}

.dateposted {
  border-top: 1px solid #ddd;
}

.jobspec {
  color: #666;
  font-size: small;
}

.clients-img,
.partners {
  max-width: 50%;
  display: flex;
  align-items: center;
  height: auto;
  flex-wrap: nowrap;
  justify-content: center;
  vertical-align: middle;
  padding: 0 20px;
  filter: grayscale(100%);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.jobvac {
  position: relative;
  width: 100%;
}

.tablerows {
  font-size: 18px;
}

.banner-image {
  display: none;
}

.headerpic {
  vertical-align: middle;
  object-fit: cover;
  filter: brightness(0.5);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0.2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.banner, .bannerSlideshow {
  padding: 0;
}

.sub-btn {
  background-color: #333645;
  border-color: #333645;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
}

.sub-btn:hover {
  background-color: #1d1f28;
}

.itbtn {
  background-color: #4183d7;
  font-size: 18px;
  height: 56px;
  line-height: 46px;
  font-size: 18px;
  float: left;
  vertical-align: middle;
  padding: 5px 15px;
}

.itbtn:hover {
  background-color: #286abd;
}

.contactbtn {
  background-color: #a3a8ac;
  font-size: 18px;
  height: 56px;
  line-height: 46px;
  font-size: 18px;
  float: left;
  vertical-align: middle;
  padding: 5px 15px;
}

.contactbtn:hover {
  background-color: #888f94;
}

.searchbtn {
  width: 25px;
}

.searchbar button {
  border: 0;
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
  color: #fff;
  background-color: #a3a8ac;
}

.searchbar button:hover {
  background-color: #888f94;
}

.bespoke .bespokebtn,
.itsupport .itsupportbtn,
.digitalmarketing .digimarketbtn,
.telecomsservices .telecomsbtn,
.webdesign .webdesignbtn,
.cyber .cybersecbtn,
.devcourse .devcoursebtn {
  position: relative;
  font-size: 12px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
}

.bespoke:hover .bespokebtn,
.itsupport:hover .itsupportbtn,
.digitalmarketing:hover .digimarketbtn,
.telecomsservices:hover .telecomsbtn,
.webdesign:hover .webdesignbtn,
.cyber:hover .cybersecbtn,
.devcourse:hover .devcoursebtn {
  text-decoration: none;
}

.btn {
  margin: 15px 0;
  border-radius: 5px;
}

.trustbtn {
  background-color: #00b67b;
  border-color: #00b67b;
}

.googlebtn {
  background-color: #4183d7;
  border-color: #4183d7;
  margin-bottom: 10px;
}

.googlebtn:hover,
.trustbtn:hover {
  color: #fff;
}

.googlebtn:hover {
  background-color: #286abd;
}

.trustbtn:hover {
  background-color: #008359;
}

.culture, .choose-us {
  background-color: #272936;
  border-color: #272936;
  padding: 10px 30px;
  font-size: 20px;
}

.choose-us:hover,
.culture:hover {
  color: #fff;
  background-color: #121318;
}

.choose-us {
  margin-bottom: 17px;
}

.culture {
  margin-bottom: 50px;
}

.latestbtn {
  background-color: #4183d7;
  border-color: #4183d7;
  color: #fff;
  text-transform: uppercase;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.latestbtn1 {
  background-color: #2ecc71;
}

.latestbtn2 {
  background-color: #926fb1;
}

.latestbtn3 {
  background-color: #ce4125;
}

.btn:hover {
  color: #fff;
}

.main-pic .container .top-left .main-button:hover {
  background-color: #79539a;
}

.dev-icon {
  color: #fff;
}

[class$=-icon] {
  padding: 15px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
}

.servecyber,
.cyber-icon {
  background-color: #f62459;
  border-color: #f62459;
}

.serveweb,
.web-icon {
  background-color: #926fb1;
  border-color: #926fb1;
}

.servetelecoms,
.tele-icon {
  background-color: #d64541;
  border-color: #d64541;
}

.servedigital,
.digital-icon {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.serveit,
.it-icon {
  background-color: #4183d7;
  border-color: #4183d7;
}

.servebespoke,
.bespoke-icon {
  background-color: #67809f;
  border-color: #67809f;
}

.servedev,
.dev-icon {
  background-color: #ce4125;
  border-color: #ce4125;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.jobtitle1 {
  color: #2ecc71;
}

.jobtitle2 {
  color: #926fb1;
}

.jobtitle3 {
  color: #ce4125;
}

.service-topic {
  font-size: 20px;
}

.service-info {
  font-size: 14px;
  letter-spacing: 0.4px;
}

.clients-think {
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.welcome {
  color: #fff;
  text-align: left;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
