// Banner slider



.headerpic {
    vertical-align: middle;
    object-fit: cover;
}



.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.link-text {
    margin-left: 10px;
}

// .btn--bespoke:hover {
//     background-color: darken($bespoke, 10);
// }

.gradient {
    position:absolute;
    height: 100%;
    z-index: 1;    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(270deg, transparent 25%, black);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}