// Clients
.clients {
    padding: 50px 0;
    display: flex;
    

    img {
        @include clientPartnerImgs;     
    }
}

.slick-list {
    overflow: visible;
}

// Tooltip container and tooltip text

.tooltipimg {
    position: relative;
    display: inline-block;
    .btn {
        font-size: 16px;
        &:hover {
            color: $white;
        }
        &:active {
            outline: none;
        }
    }
    .btn--web:hover {
        background-color: shade(web, dark);
    }
    .btn--digital:hover {
        background-color: shade(digital, dark);
    }

    .btn--bespoke:hover {
        background-color: shade(bespoke, dark);
    }

    .btn--it-support:hover {
        background-color: shade(it-support, dark);
    }
}

.tooltipimg .imgtext {
    visibility: hidden;
    width: 280px;
    // height: 30px;
    font-size: 12px;
    background-color: $primary-dark-col;
    color: $white;

    text-align: center;
    padding: 20px;
    // border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin: 0 0 50px -140px;
}


// Arrow
.tooltipimg .imgtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -30px;
    border-width: 30px;
    border-style: solid;
    border-color: $primary-dark-col transparent transparent transparent;
}

.tooltipimg:hover .imgtext {
    visibility: visible;
    opacity: 1;
}


