// font-size: 16px;
// letter-spacing: .4px;
.breadcrumb-container {
    box-shadow: 0 5px 35px rgba(0, 0, 0, .1);
    padding: 14px 0 13px;

    .breadcrumb {
        background: none;
        color: $primary-dark-col;
        font-size: 13px;
        margin: 0;
        padding: 0;

        a {
            font-weight: 700;
            color: $primary-dark-col;
        }
    }


}

.section {
    padding-top: 50px;
    padding-bottom: 50px;

    &.top {
        padding-bottom: 0;
    }
}

.page-head {
    .container {
        //width: 750px;

        h1 {
            font-size: 36px;
            max-width: 750px;
        }
    }
}

.office-addresses {
    margin-bottom: 40px;


    .block {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;

        .image {
            img {
                max-width: 100%;
                vertical-align: middle;
            }

            .img-full {
                width: 100%;
                height: auto;
            }
        }

        .content {
            padding: 30px;
            text-align: left;
            display: flex;
            height: 100%;
            flex-direction: column;

            .h2 {
                font-size: 20px;
                position: relative;
                margin-bottom: 15px;
                font-weight: 400;
                margin: 0 0 15px;

                a {
                    color: $primary-dark-col;
                    text-decoration: none;
                    font-weight: 400;
                }
            }

            .p {
                font-size: 13px;
                line-height: 22px;
                font-weight: 400;
                margin-bottom: 15px;
                color: $dove-gray;
            }

            .tel {
                margin-top: auto;

                a {
                    font-weight: 700;
                }

                .text-web {
                    color: $web-design !important;
                }

                .h3 {
                    font-size: 26px;
                }
            }

            .view-more {
                a {
                    margin-top: 15px;
                    font-size: 14.4px;
                    padding: 5px 30px;
                }
            }
        }
    }

    .service-list {
        margin-top: 20px;

        .office-address-row {
            display: block !important;

            .col-md-4 {
                display: flex;

            }
        }

        .block {
            border-radius: 20px;
            overflow: hidden;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;


        }
    }

    .container {
        width: 750px;
    }


}

.service-list {
    .block {
        text-decoration: none;
        margin-top: 30px;
        text-align: center;
        position: relative;
        top: 0;
        transition: .5s ease;
        border-radius: 15px;
    }
}

.block {
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    //padding-bottom: 50px;

    max-width: 100%;

    &.bottom {
        padding-top: 0;
        //width: 750px;
    }

    .row {
        // display: flex;
        // flex-wrap: wrap;

        // &>* {
        //     flex: 0 0 auto;
        //     max-width: 100%;
        // }

        .col-lg-push-8 {

            // div {
            .cms-block {
                p {
                    line-height: 30px;
                    margin-bottom: 25px;

                    .text-web {
                        color: $web-design !important;
                    }

                    .h3 {
                        font-size: 26px;
                    }
                }

                strong:not(.btn) {
                    font-weight: 600;
                    color: $primary-dark-col;
                    font-size: 16px;
                }

                .container {
                    padding: 0;
                    width: auto;
                    margin: 0;

                    h4 {
                        font-size: 16px;

                        a {
                            font-weight: 600;
                            color: $primary-dark-col;
                        }
                    }
                    .question.active .answer {
                        max-height: 300px;
                    }
                  
                    .answer {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 1.4s ease-out;
                        font-size: 16px;
                    }
                }
            }

            // }
        }

        .col-lg-pull-4 {
            #contact-form {
                background-color: #e6e7e9;
                border-radius: 10px;
                padding: 30px;
                font-size: 16px;

                .row {
                    display: flex;
                    flex-wrap: wrap;
                }

                .form-group {
                    margin-bottom: 15px;

                    label {
                        font-weight: 600;
                        color: $primary-dark-col;

                        &.required:after {
                            content: " *";
                            color: #d24d57;
                        }
                    }

                    textarea#message {
                        min-height: 100px;
                        height: 100px;

                        .form-control {
                            display: block;
                        }
                    }

                    .pretty-checkbox {
                        line-height: 32px;
                        cursor: pointer;
                       

                        .media {
                            &:first-child {
                                margin-top: 0;
                            }

                            .checkbox-left {
                                padding-right: 0;
                            }

                            .media-body {

                                a {
                                    text-decoration: underline;
                                    color: $primary-dark-col;
                                }

                            }
                        }

                        .button {
                            border-radius: 3px;
                            border: 3px solid $primary-dark-col;
                            height: 32px;
                            width: 32px;
                            position: relative;
                            float: left;
                            margin-right: 20px;

                            .mdi-action-done {
                                display: none;
                                line-height: 26px;
                                text-align: center;
                                font-size: 22px;
                                border-radius: 50%;
                                &:checked {
                                    background-color: green;
                                }

                                &::before{
                                    content: '';
                                    position:absolute;
                                    top: 4px;
                                    left: 9px;
                                    width: 5px;
                                    height: 13px;
                                    border: 4px solid transparent;
                                    border-left: none;
                                    border-top: none;
                                }                          
                                
                            }

                            input[type=checkbox] {
                                display: none;
                               
                            }
                            // input[type="checkbox"]:checked {
                                
                            //     background-color: green;
                            // }

                        }
                    }
                   

                    .form-control.has-error {
                        border-color: #d64541;
                    }

                    .form-control .has-error {
                        border-color: #d64541;
                    }

                }

                .recaptcha-terms {
                    color: $primary-dark-col;
                    font-size: 11px;
                    font-weight: 600;
                    margin-bottom: 30px;
                    margin-top: -10px;

                    a {
                        color: $primary-dark-col;
                        text-decoration: underline;
                    }
                }

                .action-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .btn-primary {
                        background-color: $primary-dark-col;
                        border-color: $primary-dark-col;
                    }

                    .helper-text {
                        color: $primary-dark-col;
                        font-size: 85%;
                    }
                }
            }
        }
    }
}


