// Main page

// Body
.more {
    display: none;
}

// Our Service

.service-subheading {
    color: black;
}

.service {
    border: 1px solid $primary-warm-col;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.servicegrid {
    padding: 20px;
    color: $primary-dark-col;
}

.bespoke-block:hover {
    background-color: $hoki;
    color: $white;
}

.servebespoke:hover {
    background-color: $white;
    color: $hoki;
}

.serveit:hover {
    background-color: $white;
    color: $havelock-blue;
}

.it-block:hover {
    background-color: $havelock-blue;
    color: $white;
}

.digital-block:hover {
    background-color: $shamrock;
    color: $white;
}

.servedigital:hover {
    background-color: $white;
    color: $shamrock;
}

.dev-block:hover {
    background-color: $punch;
    color: $white;
}

.servedev:hover {
    background-color: $white;
    color: $punch;
}


.cyber-block:hover {
    background-color: $radical-red;
    color: $white;
}

.servecyber:hover {
    background-color: $white;
    color: $radical-red;
}


.web-block:hover {
    background-color: $wisteria;
    color: $white;
}

.serveweb:hover {
    background-color: $white;
    color: $wisteria;
}


.telecoms-block:hover {
    background-color: $valencia;
    color: $white;
}

.servetelecoms:hover {
    background-color: $white;
    color: $valencia;
}

// Reviews
.reviews {
    background-color: $primary-dark-col;
    color: $white;
    font-size: 20px;
    letter-spacing: .4px;
    padding: 20px;

}

.ash-review {
    font-style: italic;
}

.review1 {
    padding-left: 30px;
}

.reviewer {
    color: $primary-warm-col;
    font-size: 15px;
    font-weight: bold;
}

.ashllp {
    font-weight: bold;
    color: $white;
}

.stars {
    color: orange;
}



// Clients
.clients {
    padding-top: 20px;
    padding-bottom: 20px;
}


.clients-img:hover,
.partners:hover {
    filter: grayscale(10%);
}

// Tooltip container and tooltip text
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: $emperor;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        // Postion the tooltip text
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        // Fade in tooltip
        opacity: 0;
        transition: opacity 0.3s;
    }
}

// tooltip arrow
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

// Newsletter
.newsletter {
    background-color: $alto;
    color: $dove-gray;
    padding: 50px 15px;
}

.privacy {
    color: inherit;
    text-decoration: underline;
}

.news-inputs {
    display: flex;
    flex-direction: column;
    border: none;
}

.newsform {
    margin-bottom: 15px;
}

.privacy-label {
    line-height: 32px;
    margin-bottom: 15px;
    display: table;
}

.private-check {
    position: relative;
    border-radius: 3px;
    border: 3px solid $primary-dark-col;
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 20px;
}

.left {
    float: left;
}

h2 {
    font-weight: 400;
    margin: 0 0 15px;
    color: $primary-dark-col;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
}

.row input[type=text] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 3px;
    resize: vertical;
    margin-bottom: 10px;
}

.col-25 {
    float: left;
    width: 26%;
    margin-top: 6px;
}

.col-75 {
    // float: left;
    width: 100%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.newsform {
    width: 100%;
}

.webdesignbtn .webpic {
    font-size: 26px;
}