footer {
    height: auto;
}

.container {
    background-color: #323544;
    justify-content: space-between;
}

.footer-sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
}
img {
    max-width: 50%;
    height:auto;
}

li {
    text-align: justify;
}


ul {
    list-style: none;
    // margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    letter-spacing: .4px;
}
h4 {
    color: white;
}

/* Styling the social media icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    background: #212330;
}
/* Hover effect */
.fa:hover {
    opacity: 0.7;
}
.fb-btn, .ln-btn, .tw-btn, .in-btn {    
    text-align: center;
}
.colsforfooter {
    display:flex;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
    position:relative;
    flex-wrap: wrap;
}
.copyright {
    background-color: #212330;
    color: white;
    padding: 5px 15px;
}