.main-footer{
    display:flex;
    background-color: #323544;
}
.copyright {
    background-color: #212330;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
.logo1 {
    border: 0;
    vertical-align: middle;
}