// Burger menu background
.hamburger-menu {
    background-color: $primary-dark-col;
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    padding: 1rem;
}

// Burger menu bars
.ham-bar {
    width: 70%;
    height: 4px;
    background-color: $white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}

// Top bar positioning
.bar-top {
    top: 25%;
}

// Bottom bar positioning
.bar-bottom {
    top: 75%;
}

// Change top bar when clicked
.hamburger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

// Make middle bar fade out
.hamburger-menu.active .bar-mid {
    opacity: 0;
}

// Make bottom bar change when click to form an 'X' with the top bar
.hamburger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}


.outermain {
    // position: fixed;
    // top: 0;
    right: 0;
    
    // height: 100vh;
    // width: 75%;
    transition: right .5s;
}

.outermain.active {
    right: 275px;
    // filter: brightness(.5);
    // background-color: linear-gradient(0, 0, 0, rgba(255, 255, 255, .6));
    // height: 100%;
    // width:100%
    opacity: 1;
}
// .outermain {
//     // position: fixed;
//     right: 0;
// }


// .outermain.active {
//     right: 275px;
//     background-color: pink;    
// }

