// Burger menu background
.hamburger-menu {
    background-color: $primary-dark-col;
    height: 56px;
    width: 56px;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    border-radius: 3px;

}

.burger-menu {
    background-color: $primary-dark-col;
    height: 56px;
    width: 56px;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    border-radius: 3px;

    .bar-top {
        top: 30%;
    }

    .bar-bottom {
        top: 70%;
    }
}


// Burger menu bars
.ham-bar {
    width: 30px;
    height: 4px;
    background-color: $white;
    //border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}

// Top bar positioning
.bar-top {
    top: 33%;
}

// Bottom bar positioning
.bar-bottom {
    top: 67%;
}

// Tablets and desktops

.hamburger-menu.active {

    // Change top bar when clicked
    .bar-top {
        transform: translate(-50%, -50%) rotate(-315deg);
        top: 50%;
    }

    // Make middle bar fade out
    .bar-mid {
        opacity: 0;
    }

    // Make bottom bar change when click to form an 'X' with the top bar
    .bar-bottom {
        transform: translate(-50%, -50%) rotate(-225deg);
        top: 50%;
    }
}


.hamburger-menu.active .outermain {

    right: 0;
}


// Small devices

.burger-menu.active .bar-top {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

.burger-menu.active .bar-mid {
    opacity: 0;
}

.burger-menu.active .bar-bottom {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}

.burger-menu.active .outermain {
    transition: 10s ease-out;
    right: 0;
}


.outermain::before {
    //transition: opacity .5s, width .1s .5s, height .1s .5s;
    transition: all 10s ease-out;

}