// Hidden menu needed to slide down
#main-topnav {
    position: fixed;
    top: 0;
    max-width: 100%;
    z-index: 1;
    background-color: $white;

    transition: all 500ms ease;
}
.topnav {
    max-width: 100%;
}

// .sticky {
//     position: fixed;
//     top: -220px;
//     width: 100%;
//     z-index: 1;
// }