// Latest news
.latestnews {
    .latest-sections {
        .newsarticles {
            .container {
                // padding-bottom: 50px;
                .vacancy-list {
                    .row {
                        margin-top: -30px;
                    }
                }
            }
        }
    }
}

section {
    border: 1px solid $alto;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.jobpic {
    border-radius: 100%;
    position: relative;
    vertical-align: baseline;
}


.jobtitle {
    color: $it-support;
}

.postedby {
    // font-size: 15px;
    display: inline-block;
    padding: 15px;
}

.jobspan {
    color: rgba(51, 54, 69, .5);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}


.dateposted {
    padding-top: 15px;
    border-top: 1px solid $alto;
    margin-top: 15px;
}

.jobspec {
    color: $dove-gray;
    font-size: small;
}



.jobvac {
    position: relative;
    width: 100%;
}

.tablerows {
    font-size: 18px;
}

.latestnews {
    .container {
        .lateheadings {
            .viewheading2 {
                color: $mineshaft;
            }

            .newsheading {
                font-size: 36px;
                font-weight: bold;
            }
        }
    }
}

