// Newsletter


.newsletter {
    background-color: $alto;
    color: $primary-dark-col;
    padding: 50px 0;

    .privacy-label {
        vertical-align: top;
        font-size: 16px;
        display: table-cell;

        .privacy {
            color: inherit;
            text-decoration: underline;
        }
    }

    .private-check {
        position: relative;
        border-radius: 3px;
        border: 3px solid $primary-dark-col;
        height: 32px;
        width: 32px;
        float: left;
        margin-right: 20px;
    }

    .row {
        padding: 0 15px;

        input[type=text] {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 3px;
            resize: vertical;
            margin-bottom: 10px;
        }
    }

    .marketinfo {
        margin-bottom: 15px;
        
    }

    .col-25 {
        float: left;
        // width: 26%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 100%;
        margin-top: 6px;
    }
    h2 {
        font-weight: 400;
        margin: 0 0 15px;
        color: $primary-dark-col;
        font-size: 32px;
        text-align:left;
    }
}



