// Our Service

.servicegrid {
    padding: 20px;
   
    h3 {
        font-size: 43px;
        font-weight: 600;
    }

    a, h3 {
        color: $primary-dark-col;
    }
}

.service {
    border: 1px solid $primary-warm-col;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    // border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
    transition: all 0.5s;
    &:hover {
        .servedigital, .digital-icon,
        .serveit, .it-icon,
        .servebespoke, .bespoke-icon,
         .servetelecoms, .tele-icon,
        .serveweb, .web-icon, 
        .servecyber, .cyber-icon, 
         .servedev, .dev-icon {
            background-color: $white;
        }
        .servebespoke, .bespoke-icon {
            color: $bespoke;
        }
        .serveit, .it-icon {
            color: $it-support;
        }.servedigital, .digital-icon {
            color: $digital-market;
        }
        .servetelecoms, .tele-icon {
            color: $telecoms;
        }
        .serveweb, .web-icon {
            color: $web-design;
        }
        .servecyber, .cyber-icon {
            color: $cyber;
        }
        .servedev, .dev-icon {
            color: $developer;
        }
    }

}



.bespoke-block:hover {
    background-color: $bespoke;
    color: $white;
    transform: translate(0, -15px);    
}

.servebespoke:hover {
    color: $bespoke;
}

.serveit:hover {
    color: $it-support;
}

.it-block:hover {
    background-color: $it-support;
    color: $white;
    transform: translate(0, -15px);
}

.digital-block:hover {
    background-color: $digital-market;
    color: $white;
    transform: translate(0, -15px);
}

.servedigital:hover {
    
    color: $digital-market;
}

.dev-block:hover {
    background-color: $developer;
    color: $white;
    transform: translate(0, -15px);
}

.servedev:hover {
    color: $developer;
}


.cyber-block:hover {
    background-color: $cyber;
    color: $white;
    transform: translate(0, -15px);
}

.servecyber:hover {
    color: $cyber;
}


.web-block:hover {
    background-color: $web-design;
    color: $white;
    transform: translate(0, -15px);
}

.serveweb:hover {
    color: $web-design;
}


.telecoms-block:hover {
    background-color: $telecoms;
    color: $white;
    transform: translate(0, -15px);
}

.servetelecoms:hover {
    color: $telecoms;
}