// Our Service

.servicegrid {
    padding: 20px;
   
    h3 {
        font-size: 43px;
        font-weight: 600;
    }

    a, h3 {
        color: $primary-dark-col;
    }
}

.service {
    border: 1px solid $primary-warm-col;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    // border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
    transition: all 0.5s;
    &:hover {
        .servedigital, .digital-icon,
        .serveit, .it-icon,
        .servebespoke, .bespoke-icon,
         .servetelecoms, .tele-icon,
        .serveweb, .web-icon, 
        .servecyber, .cyber-icon, 
         .servedev, .dev-icon {
            background-color: $white;
        }
        .servebespoke, .bespoke-icon {
            color: $hoki;
        }
        .serveit, .it-icon {
            color: $havelock-blue;
        }.servedigital, .digital-icon {
            color: $shamrock;
        }
        .servetelecoms, .tele-icon {
            color: $valencia;
        }
        .serveweb, .web-icon {
            color: $wisteria;
        }
        .servecyber, .cyber-icon {
            color: $radical-red;
        }
        .servedev, .dev-icon {
            color: $punch;
        }
    }

}



.bespoke-block:hover {
    background-color: $hoki;
    color: $white;
    transform: translate(0, -15px);    
}

.servebespoke:hover {
    color: $hoki;
}

.serveit:hover {
    color: $havelock-blue;
}

.it-block:hover {
    background-color: $havelock-blue;
    color: $white;
    transform: translate(0, -15px);
}

.digital-block:hover {
    background-color: $shamrock;
    color: $white;
    transform: translate(0, -15px);
}

.servedigital:hover {
    
    color: $shamrock;
}

.dev-block:hover {
    background-color: $punch;
    color: $white;
    transform: translate(0, -15px);
}

.servedev:hover {
    color: $punch;
}


.cyber-block:hover {
    background-color: $radical-red;
    color: $white;
    transform: translate(0, -15px);
}

.servecyber:hover {
    color: $radical-red;
}


.web-block:hover {
    background-color: $wisteria;
    color: $white;
    transform: translate(0, -15px);
}

.serveweb:hover {
    color: $wisteria;
}


.telecoms-block:hover {
    background-color: $valencia;
    color: $white;
    transform: translate(0, -15px);
}

.servetelecoms:hover {
    color: $valencia;
}