// Our Service

.servicegrid {
    .servicebreakdown {
        margin-top: 20px;
        .row {
            // display: block;
            .btn {
                margin: 0;
            }
            // .col-md-4 {
            //     width: auto;
            // }
        }
    }
    // padding: 50px 15px;

    .serviceheading{
        margin-bottom: 15px;
        float:left;
        // margin-left: 20px;
    }

    .servicesubheading {
        float: right;
        margin-left: 20px;
    }
    

    h3 {
        // font-size: 43px;
        font-weight: 600;
    }

    a,
    h3 {
        color: $primary-dark-col;
    }
}

.service {
    border: 1px solid #ccc;
    margin: 30px 0 0;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    // border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
    transition: all 0.5s;
    cursor: pointer;

    &:hover {

        .servedigital,
        .digital-icon,
        .serveit,
        .it-icon,
        .servebespoke,
        .bespoke-icon,
        .servetelecoms,
        .tele-icon,
        .serveweb,
        .web-icon,
        .servecyber,
        .cyber-icon,
        .servedev,
        .dev-icon {
            background-color: $white;
        }

        .servebespoke,
        .bespoke-icon {
            color: $bespoke;
        }

        .serveit,
        .it-icon {
            color: $it-support;
        }

        .servedigital,
        .digital-icon {
            color: $digital-market;
        }

        .servetelecoms,
        .tele-icon {
            color: $telecoms;
        }

        .serveweb,
        .web-icon {
            color: $web-design;
        }

        .servecyber,
        .cyber-icon {
            color: $cyber;
        }

        .servedev,
        .dev-icon {
            color: $developer;
        }
    }
}

.service-topic {
    font-size: 20px;
    padding: 0 0 10px;
    margin: 0 0 11px;
}

.service-info {
    font-size: 13px;
    letter-spacing: .4px;
    margin: 0 0 13px;
}


.bespoke-block:hover {
    background-color: $bespoke;
    color: $white;
    transform: translate(0, -15px);
}

.servebespoke:hover {
    color: $bespoke;
}
.servebespoke:active:focus,
.serveit:active:focus,
.servedigital:active:focus,
.servedev:active:focus,
.serveweb:active:focus,
.servecyber:active:focus,
.servetelecoms:active:focus
 {
    outline: none;
}

.serveit:hover {
    color: $it-support;
}

.it-block:hover {
    background-color: $it-support;
    color: $white;
    transform: translate(0, -15px);
}

.digital-block:hover {
    background-color: $digital-market;
    color: $white;
    transform: translate(0, -15px);
}

.servedigital:hover {

    color: $digital-market;
}

.dev-block:hover {
    background-color: $developer;
    color: $white;
    transform: translate(0, -15px);
}

.servedev:hover {
    color: $developer;
}


.cyber-block:hover {
    background-color: $cyber;
    color: $white;
    transform: translate(0, -15px);
}

.servecyber:hover {
    color: $cyber;
}


.web-block:hover {
    background-color: $web-design;
    color: $white;
    transform: translate(0, -15px);
}

.serveweb:hover {
    color: $web-design;
}


.telecoms-block:hover {
    background-color: $telecoms;
    color: $white;
    transform: translate(0, -15px);
}

.servetelecoms:hover {
    color: $telecoms;
}

.servicegrid {
    .container {
        .serveheadings {
            .container {
                padding-bottom: 20px;

                .service-subheading {
                    font-weight: 600;
                }
            }
        }
    }
}

.topHeadings {
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.serviceheading {
    margin-bottom: 15px;
}

.servicesubheading {
    font-size: 26px;
    font-weight: bold;
}

.servicegrid {
    .container {
        .service-blocks {
            
            margin-top: 20px;
            .btn {
                margin: 0;
            }
        }
    }
}