
.sub-btn {
    @include primarydark;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 3px;
    white-space: normal;
    color: $white;
}

// Navigation buttons
.itbtn {
    @extend %topcontactbtn;
    background-color: $it-support;
    font-size: 18px;
    height: 56px;
    line-height: 46px;
    font-size: 18px;
    float:left;
    vertical-align: middle;
    padding: 5px 15px;
}

.contactbtn {
    @extend %topcontactbtn;
    background-color: $primary-warm-col;
    font-size: 18px;
    height: 56px;
    line-height: 46px;
    font-size: 18px;
    float:left;
    vertical-align: middle;
    padding: 5px 15px;
}

.searchbtn {
    width: 25px;
}
.searchbar button {
    border:0;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    color: $white;
    background-color: $primary-warm-col;
    // border-radius: 3px;
}

// topnav
.bespoke .bespokebtn,
.itsupport .itsupportbtn,
.digitalmarketing .digimarketbtn,
.telecomsservices .telecomsbtn,
.webdesign .webdesignbtn,
.cyber .cybersecbtn,
.devcourse .devcoursebtn {
    position: relative;
    font-size: 12px;
    border: none;
    outline: none;
    color: $white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform:uppercase;
}
.bespoke:hover .bespokebtn, 
.itsupport:hover .itsupportbtn,
.digitalmarketing:hover .digimarketbtn,
.telecomsservices:hover .telecomsbtn,
.webdesign:hover .webdesignbtn,
.cyber:hover .cybersecbtn,
.devcourse:hover .devcoursebtn { 
    text-decoration: none;
}
.btn {
    @extend %btnwhitett;
    margin: 15px 0;
    border-radius: 5px;
}
.trustbtn {
    @extend %topcontactbtn;
    @include jade;
}

.googlebtn {
    @extend %topcontactbtn;
    @include havelock;  
    margin-bottom: 10px;
}
.culture, .choose-us {
    @extend %btnwhitett;
    @include charade;
    // margin-bottom: 50px;
    padding: 10px 30px;
    font-size: 20px;
}
.choose-us {
    margin-bottom: 17px;
}
.culture {
    margin-bottom: 50px;
}
.latestbtn {
    @include havelock;
    color: $white;
    text-transform: uppercase;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.latestbtn1 {
    background-color: $bespoke;
}
.latestbtn2 {
    background-color: $web-design;
}
.latestbtn3 {
    background-color: $it-support;
}