
.sub-btn {
    @include primarydark;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 3px;
    white-space: normal;
    color: $white;
}
.sub-btn:hover {
    background-color: darken($primary-dark-col, 10);
}

// Navigation buttons
.itbtn {
    @extend %topcontactbtn;
    background-color: $it-support;
    font-size: 18px;
    height: 56px;
    line-height: 46px;
    font-size: 18px;
    float:left;
    vertical-align: middle;
    padding: 5px 15px;
}
.itbtn:hover {
    background-color: darken($it-support, 10);
}

.contactbtn {
    @extend %topcontactbtn;
    background-color: $primary-warm-col;
    font-size: 18px;
    height: 56px;
    line-height: 46px;
    font-size: 18px;
    float:left;
    vertical-align: middle;
    padding: 5px 15px;
}

.contactbtn:hover {
    background-color: darken($primary-warm-col, 10);
}


.searchbtn {
    width: 25px;
}
.searchbar button {
    border:0;
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    color: $white;
    background-color: $primary-warm-col;
    border-radius: 0 3px 3px 0;
}
.searchbar button:hover{
    background-color: darken($primary-warm-col, 10);
}

// topnav
.bespoke .bespokebtn,
.itsupport .itsupportbtn,
.digitalmarketing .digimarketbtn,
.telecomsservices .telecomsbtn,
.webdesign .webdesignbtn,
.cyber .cybersecbtn,
.devcourse .devcoursebtn {
    position: relative;
    font-size: 18px;
    border: none;
    outline: none;
    color: $white;
    padding: 19px 0 18px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform:uppercase;
    line-height: 1;
    width: 134px;
    // height: 62px;
}

small {
    font-size: 10px;
}
.bespoke:hover .bespokebtn, 
.itsupport:hover .itsupportbtn,
.digitalmarketing:hover .digimarketbtn,
.telecomsservices:hover .telecomsbtn,
.webdesign:hover .webdesignbtn,
.cyber:hover .cybersecbtn,
.devcourse:hover .devcoursebtn { 
    text-decoration: none;
}
.btn {
    @extend %btnwhitett;
    margin: 15px 0;
    border-radius: 5px;
}
.trustbtn {
    @extend %topcontactbtn;
    @include jade;
}

.googlebtn {
    @extend %topcontactbtn;
    @include havelock;  
    margin-bottom: 10px;
}
.googlebtn:hover,
.trustbtn:hover {
    color: $white;
}
.googlebtn:hover{
    background-color: darken($it-support, 10);
}
.trustbtn:hover {
    background-color: darken($jade, 10);
}

.culture, .choose-us {
    @extend %btnwhitett;
    @include charade;
    // margin-bottom: 50px;
    padding: 10px 30px;
    font-size: 20px;    
}

.choose-us:hover, 
.culture:hover {
    color: $white;
    background-color: darken($charade, 10);
}
.choose-us {
    margin-bottom: 17px;
}
.culture {
    margin-bottom: 50px;
}
.latestbtn {
    @include havelock;
    color: $white;
    text-transform: uppercase;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.latestbtn1 {
    background-color: $digital-market;
   
    }
.latestbtn2 {
    background-color: $web-design;
}
.latestbtn3 {
    background-color: $developer;
}

.btn:hover {
    color: $white;
}

// Banner slider buttons

// .main-pic {
//     .banner-image {
//         .imgText {
//             .top-left {
//                 .btn-developer {
//                     @include bg-colors(bespoke);
//                 }
//             }
//         }
//     }
// }


// The hover effect colours for banner images buttons
.main-pic {
    .container {
        .top-left {
            .btn--bespoke:hover {
                background-color: shade(bespoke, dark);
            }
            .btn--it-support:hover {
                background-color: shade(it-support,dark);
            }
            .btn--digital:hover {
                background-color: shade(digital, dark);
            }
            .btn--telecoms:hover {
                background-color: shade(telecoms, dark);
            }
            .btn--web:hover {
                background-color: shade(web, dark);
            }
            .btn--cyber:hover {
                background-color: shade(cyber, dark);
            }
        }
    }
}