// Main fonts
body {
    font-family: $primary-font;
    font-size: 1rem;
}

// Latest News articles
.jobtitle1 {
    @extend %smallspacing;
    color: $bespoke;
}

.jobtitle2 {
    @extend %smallspacing;
    color: $web-design;
}

.jobtitle3 {
    @extend %smallspacing;
    color: $it-support;
}

.service-topic {
    font-size: 20px;
}

.service-info {
    font-size: 14px;
    letter-spacing: .4px;
}

.clients-think {
    @include boldleft;
}

.welcome {
    @include boldleft;
}