// Main fonts
body {
    font-family: $primary-font;
    font-size: 1rem;
}

// Latest News articles
.jobtitle1 {
    @extend %smallspacing;
    color: $digital-market;
}

.jobtitle2 {
    @extend %smallspacing;
    color: $web-design;
}

.jobtitle3 {
    @extend %smallspacing;
    color: $developer;
}





.clients-think {
    @include boldleft;
}

.welcome {
    @include boldleft;
}