// Main fonts
body {
  font-family: $primary-font;
  font-size: 1rem;
}

// Latest News articles
.jobtitle1 {
  @extend %smallspacing;
  color: $digital-market;
}

.jobtitle2 {
  @extend %smallspacing;
  color: $bespoke;
}

.jobtitle3 {
  @extend %smallspacing;
  color: #db8c0d;
}

.clients-think {
  @include boldleft;
}

.welcome {
  @include boldleft;
}
