* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    font-size: 1rem;
}


// Navigation

.searchbar input {
    border: 1px solid $primary-warm-col;
    font-size: 20px;
    padding: 13px;
}
.searchbar {
    display: flex;
}

::placeholder {
    color: $primary-warm-col;
}

.menu {
    @include primarydark;
    color: $white;
    font-size: 25px;
    padding: 13px;
    border-radius: 5px;
}

// styling navigation and the links inside
.topnav {
    background-color: $mineshaft;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    a {
        float: left;
        display: block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .icon {
        display: none;
    }
}

// dropdown container and Styling the dropdown buttons
.bespoke,
.itsupport,
.digitalmarketing,
.telecomsservices,
.webdesign,
.cyber,
.devcourse {
    float:left;
    overflow: hidden;
}

// style the dropdown content
[class$="-content"] {
    display: none;
    position: absolute;    
    // min-width: 160px;
    max-width: 100%;
    // box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    // z-index: 1;
}

// styling links inside the dropdown
a[class$="-content"] {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    // text-align: center;
    text-align:left;
}

// styling background on links and the dropdown hover
.bespoke a:hover,
.bespoke:hover .bespokebtn,
.bespoke-content {
    background-color: $hoki;
    color: $white;
    text-decoration: underline;
}

.bespokepic {
    color: $hoki;
    &:hover {
        color:$white;
    }
}

.bespoke:hover .bespoke-content,
.itsupport:hover .itsupport-content,
.digitalmarketing:hover .digimarket-content,
.telecomsservices:hover .telecoms-content,
.webdesign:hover .webdesign-content,
.cyber:hover .cyber-content,
.devcourse:hover .devcourse-content {
    display: block;
}

.itsupport a:hover,
.itsupport:hover .itsupportbtn,
.itsupport-content {
    background-color: $havelock-blue;
    color: $white;
    text-decoration:underline;
}

.itpic {
    color: $havelock-blue;
    &:hover {
        color:$white;
    }
}

.digitalmarketing a:hover,
.digitalmarketing:hover .digimarketbtn,
.digimarket-content {
    background-color: $shamrock;
    color: $white;
    text-decoration: underline;
}

.digipic {
    color: $shamrock;
    &:hover {
        color: $white;
    }
}

.telecomsservices a:hover,
.telecomsservices:hover .telecomsbtn,
.telecoms-content {
    background-color: $valencia;
    color: $white;
    text-decoration: underline;
}

.telepic {
    color: $valencia;
    &:hover {
        color: $white;
    }
}

.webdesign a:hover,
.webdesign:hover .webdesignbtn,
.webdesign-content {
    background-color: $wisteria;
    color: $white;
    text-decoration: underline;
}

.webpic {
    color: $wisteria;
    &:hover {
        color: $white;
    }
}

.cyber a:hover,
.cyber:hover .cybersecbtn,
.cyber-content {
    background-color: $radical-red;
    color: $white;
    text-decoration: underline;
}

.cyberpic {
    color: $radical-red;
    &:hover {
        color: $white;
    }
}

.devcourse a:hover,
.devcourse:hover .devcoursebtn,
.devcourse-content {
    background-color: $punch;
    color: $white;
    text-decoration: underline;
    
}

.devpic {
    color: $punch;
    &:hover {
        color: $white;
    }
}

.content-heading {
    text-decoration: none;
}


// Main picture
.headerpic {
    width: 100%;
    height: 100%;
}


.service-subheading {
    color: black;
}

.service {
    border: 1px solid $primary-warm-col;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.servicegrid {
    padding: 20px;
    color: $primary-dark-col;
}

.service-topic {
    font-size: 20px;
}

.service-info {
    font-size: 14px;
    letter-spacing: .4px;
}



.servedev,
.dev-icon {
    @include punch;
}
.dev-block:hover {
    background-color: $punch;
    color:$white;
}
.servedev:hover {
    background-color: $white;
    color:$punch;
}

.dev-icon {
    color: $white;
}

[class$="-icon"] {
    padding: 15px;
    border-radius: 50%;
    font-size: 40px;
    color: $white;
}

.servecyber,
.cyber-icon {
    @include radicalred;
}
.cyber-block:hover {
    background-color: $radical-red;
    color:$white;
}
.servecyber:hover {
    background-color:$white;
    color: $radical-red;
}

.serveweb,
.web-icon {
    @include wisteria;
}
.web-block:hover {
    background-color: $wisteria;
    color: $white;
}
.serveweb:hover {
    background-color: $white;
    color: $wisteria;
}

.servetelecoms,
.tele-icon {
    @include valencia;
}
.telecoms-block:hover {
    background-color: $valencia;
    color: $white;
}

.servedigital,
.digital-icon {
    @include shamrock;
}

.serveit,
.it-icon {
    @include havelock;
}

.servebespoke,
.bespoke-icon {
    @include hoki;
}

// Reviews
.reviews {
    // display: flex;
    background-color: $primary-dark-col;
    color: $white;
    font-size: 20px;
    letter-spacing: .4px;
    padding: 20px;

}



.ash-review {
    font-style: italic;
}
.review1 {
    padding-left: 30px;
}
.reviewer {
    color: $primary-warm-col;
    font-size: 15px;
    font-weight: bold;
}

.ashllp {
    font-weight: bold;
    color: $white;
}

.clients-think {
    color: $white;
    text-align: left;
    font-weight: bold;
}

.stars {
    color: orange;
}

.welcome {
    color: $white;
    text-align: left;
    font-weight: bold;
}



// Latest news
section {
    border: 1px solid $alto;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

.latestnews {
    display: flex;
    flex-direction: column;
    margin: 20px;
}



.jobpic {
    border-radius: 100%;
}

.jobvac {
    width: 100%;
}

.jobtitle {
    color: $havelock-blue;
}

.postedby {
    font-size: 15px;
    display: inline-block;
    padding: 15px;
}

.jobspan {
    color: $alto;
    text-transform: uppercase;
    font-size: 12px;
}

.art-details {
    padding: 15px;
}

.dateposted {
    border-top: 1px solid $alto;
}

.jobspec {
    color: $dove-gray;
}

// Clients
.clients {
    padding-top: 20px;
    padding-bottom: 20px;
}

.clients-img, .partners {
    max-width: 50%;
    display: flex;
    align-items: center;
    height: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    vertical-align: middle;
    padding: 0 20px;
    filter: grayscale(100%);
    margin-right: auto;
    margin-left:auto;
    margin-bottom: 10px;
}
.clients-img:hover, .partners:hover {
    filter: grayscale(10%);
}

// Tooltip container and tooltip text
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: $emperor;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        // Postion the tooltip text
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        // Fade in tooltip
        opacity: 0;
        transition: opacity 0.3s;
    }
}

// tooltip arrow
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

// Newsletter
.newsletter {
    background-color: $alto;
    color: $dove-gray;
    padding: 50px 15px;
}

.privacy {
    color: inherit;
    text-decoration: underline;
}

.news-inputs {
    display: flex;
    flex-direction: column;
    border: none;
}

.newsform {
    margin-bottom: 15px;
}

.privacy-label {
    line-height: 32px;
    margin-bottom: 15px;
    display: table;
}

.private-check {
    position: relative;
    border-radius: 3px;
    border: 3px solid $primary-dark-col;
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 20px;
}

.left {
    float: left;
}

// .clear {
//     clear:both;
// }
h2 {
    font-weight: 400;
    margin: 0 0 15px;
    color: $primary-dark-col;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
}

.row input[type=text] {
    width:100%;
    padding: 12px;
    border:none;
    border-radius: 3px;
    resize: vertical;
    margin-bottom: 10px;
}
.col-25 {
    float: left;
    width: 26%;
    margin-top: 6px;
}
.col-75 {
    // float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear:both;
}
.newsform {
    width: 100%;
}

// responsive form



// End of newsletter section 




/* Media queries */

// @media (min-width: 769px)  {
//     .colsforfooter {
//         display: flex;
//         flex-direction: row;
//         flex-wrap: wrap;
//     }
//     .review {
//         display: flex;
//     }
// }

// @media (max-width: 850px) {
//     .topnav {
//         display:none;
//     }
// }
// @media (max-width: 769px) and (orientation: landscape) {
//     .colsforfooter {
//         flex-direction: column;
//     }
// }

@media (min-width: 1025px) {
    .top-help {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .smallnav {
        display:none;
    }
    .reviews {
        display: flex;
    }
    .smallsearchphone {
        display: none;
    }
    .main-pic {
        position: relative;
        text-align: left;
        color: $white;
        // z-index: 1;
    }
    .top-left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-70%, -70%);
        // top: 20px;
        // left: 50px;
        font-size: 50px;
        font-weight:400;
    }
    .bottom-left {
        font-size: 26px;
        font-weight: bold;
        letter-spacing:.1rem;
        margin-bottom: 15px;
    }
    .main-button {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        padding: 15px;
        border-radius: 5px;
        border:none;
        color:$white;
        background-color: $wisteria;
    }
    
    .mainmenu {
        display: flex;
        margin: 0 200px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .servicegrid h3 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: .4px;
    }
    .service-blocks {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-gap: 15px 20px;
    }
    .bespoke-block {
        grid-column: 1 / 5;
    }
    .it-block {
        grid-column: 5 / 9;
    }
    .digital-block {
        grid-column: 9 / 13;
    }
    .telecoms-block {
        grid-column: -13 /-10;
    }
    .web-block {
        grid-column: -10 / -7;
    }
    .cyber-block {
        grid-column: -7 / -4;
    }
    .dev-block {
        grid-column: -4 / -1;
    }
   
    article {
        display: grid;
        // margin: 0 200px;
        grid-gap:15px;
        grid-template-rows: auto;
    }
    .tech1 {
        grid-column: 1 / 2;
    }
    .tech2 {
        grid-column: 2 / 3;
    }
    .receptionist {
        grid-column: 3 / 4;
    }
    .dateposted {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .jobvac {
        height: 142px;
    }
    .viewheading {
        position: absolute;
        right: 200px;
        padding-top: 10px;
        font-weight: bold;
    }
    
    .footer-sections {
        margin: 30px 200px;
    }
    .copyinfo, .news-section, .intro-review, .latestnews,
    .servicegrid {
        margin: 0 200px;
    }
    .news-section {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }
    .news-inputs {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .newsname {
        margin-right: 20px;
    }
    
    .col-25, .col-75 {
        width: 100%;
        margin-top:0;
    }

    .newsform h2 {
        font-size: 30px;
        text-align: left;
    }
    .intro-review {
        display: flex;
        align-items: flex-start;
    }
    .stars {
        font-size: 40px;
    }
    .welcomenet, .startclient {
        margin-right: 20px;
        font-size: 18px;
    }
    .starclient {
        padding: 0 20px 20px 20px;
    }
    .ash-review {
        font-size: larger;
        font-weight:bold;
    }   
}

// hide nav on small screens
@media screen and (max-width:600px) {
    .topnav,
    .bespoke .bespokebtn,
    .itsupport .itsupportbtn,
    .digitalmarketing .digimarketbtn,
    .telecomsservices .telecomsbtn,
    .webdesign .webdesignbtn,
    .cyber .cybersecbtn,
    .devcourse .devcoursebtn, .top-help,
    .itbtn, .contactbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    
    // .itbtn, .contactbtn {
    //     display: none;
    // }
    .headerpic {
        height: 60vh;
        width: 100%;
    }
    .main-pic {
        position: relative;
        text-align: center;
        color: $white;
    }
    .top-left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight:400;
    }
    .bottom-left {
        font-size: 16px;
        font-weight: bolder;
        letter-spacing:.1rem;
        margin-bottom: 15px;
    }
    .main-button {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        padding: 15px;
        border-radius: 5px;
        border:none;
        color:$white;
        background-color: $wisteria;
    }
   
    .colsforfooter {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0;
        margin-right:0;
    }
    .footer-sections {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .smallnav, .smallnavtop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px;
        .logo {
            width: 60%;
        }
    }
    .searchbar input {
        background-color: $alto;
        border: none;        
    }
    .searchform {
        display:flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }
    .searchbar button {
        background: $alto;
    }
    .light-logo {
        width: 60%;
    }
    
    .partners, .clients-img {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .newsform h2 {
        text-align: left;
        font-size: 40px;
        font-weight: lighter;
    }
    .col-25, .col-75 {
        width: 100%;
        margin-top:0;
    }  
}

// mobile landscape
@media screen and (min-width: 601px) and (max-width:1024px) {
    .topnav,
    .bespoke .bespokebtn,
    .itsupport .itsupportbtn,
    .digitalmarketing .digimarketbtn,
    .telecomsservices .telecomsbtn,
    .webdesign .webdesignbtn,
    .cyber .cybersecbtn,
    .devcourse .devcoursebtn, .smallnav,
    .itbtn, .contactbtn, .smallsearchphone {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
    .top-help {
        float: right;
    }
    
    .top-help {
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 15px 0 15px 0;
        margin: 0 50px;
        flex-wrap: wrap;
    }
    .top-help .logo {
        width: 50%;
    }
    .searchbar input {
        width: 150px;
        font-size: small;
    }
    .searchbar button {
        color: $white;
    }
   
    .main-pic {
        position: relative;
        text-align: center;
        color: $white;
    }
    .top-left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight:400;
        letter-spacing: 2px;
    }
    .bottom-left {
        font-size: 16px;
        font-weight: bolder;
        letter-spacing:.1rem;
        margin-bottom: 15px;
    }
    .main-button {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        padding: 15px;
        border-radius: 5px;
        border:none;
        color:$white;
        background-color: $wisteria;
    }
    .service-blocks {
        display: grid;
        max-width: 600px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 300px;
        grid-gap: 15px 20px;
        
    }
    .bespoke-block, .it-block, .digital-block {
        grid-column: 1 / -1;
    }
    .service-subheading {
        position: absolute;
        right: 115px;
        top: 480px;
        font-weight: bold;
    }
    .servicegrid {
        margin: 0 100px;
    }
    .servicegrid h3 {
        font-weight: bold;
        font-size: 30px;
    }
    .partners {
        margin: 0 100px;
        padding-bottom: 20px;
    }
    .intro-review, .latestnews {
        margin: 20px 100px;
    }
    .stars {
        font-size: 30px;
    }
    article {
        display: grid;
        max-width: 100%;
        grid-template-columns: auto auto;
        grid-gap: 15px;
    }
    .receptionist {
        display:none;
    }
    .news-section {
        margin: 0 100px;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .form-sections input{
        width:150%;
        font-size: 25px;
    }
    .newsform h2 {
        text-align:left;
        font-size: 35px;
    }
    .col-25, .col-75 {
        width: 100%;
        margin-top:0;
    }
}

// Clearfix
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

