/* Media queries */
// All media queries

.container {
  @media (min-width: 1px) {}

  @media (min-width: 576px) {}

  @media (min-width: 768px) {}

  @media (min-width: 992px) {}

  @media (min-width: 1260px) {}

  width: 100%;
}

@media (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

// hide nav on small screens
@media (min-width: 1px) {

  .largeSidebar {
    visibility: hidden;
  }

  .outermain {

    right: 0;
    transition: right 0.5s, width 0.5s;
  }


  .main-topnav {
    padding: 0;
  }

  .postedby {
    font-size: 14px;
  }

  .smallnav {

    padding: 20px 0;

    .container {
      max-width: 100%;
      // width: 320px;

      .searchform {
        @include flexevencenter;
        align-content: center;
        margin-top: 11px;
        position: relative;

        .searchbar {
          border: 2px solid rgba(0, 0, 0, 0.1);
          // font-size: 20px;
          padding: 8px 40px 5px 15px;
          background-color: rgba(0, 0, 0, 0.1);
          outline: 1px solid hsla(0, 0%, 100%, 0.2);
          width: 100%;
          position: relative;
          transition: none;
          color: #a3a8ac;
          font-size: 12px;

          border: 1px solid $primary-warm-col;
          border-radius: 0 3px 3px 0;

          input {
            visibility: hidden;
          }

          .searchbtn {
            font-size: 20px;
          }

          & button {
            background: none;
            border: none;
            color: $primary-dark-col;
            position: absolute;
            right: 5px;
            bottom: -10px;
            line-height: 47px;
            font-size: 20px;
            outline: none;
            padding: 1px 5px;
          }
        }
      }

      .smallnavtop {
        display: table;
        width: 100%;
        margin: 0;

        .col-sm-6 {
          padding: 0;
          display: table-cell;
          float: none;
          vertical-align: middle;
          width: 100%;

          .logo-container {
            display: table;
            table-layout: fixed;

            .logo {
              display: block;
              max-width: 100%;
            }
          }
        }

        .mobile-container {
          padding: 0;
          display: table-cell;
          float: none;
          vertical-align: middle;
          width: 100%;

          .smallsearchphone {
            font-size: 35px;
            margin-left: 15px;
          }

        }

        .hamburger-container {

          padding: 0;
          display: table-cell;
          float: none;
          width: 1%;
          vertical-align: middle;

          .burger-container {
            float: right;
            padding: 7px 0;
            margin-left: 20px;
          }
        }
      }

      .searchform {
        //margin-top: 11px;
        //position: relative;

        .searchbar {
          // background-color: $alto;
          // border: none;

          //border: 2px solid rgba(0, 0, 0, .1);
          // font-size: 20px;
          // padding: 5px 40px 5px 15px;
          // background-color: rgba(0, 0, 0, .1);
          // outline: 1px solid hsla(0, 0%, 100%, .2);
          // width: 100%;
          // position: relative;
          // transition: none;

          input {
            visibility: hidden;
          }
        }

        .searchbar button {
          background: none;
          border: none;
          color: $primary-dark-col;
          position: absolute;
          right: 5px;
          bottom: -10px;
          line-height: 47px;
          font-size: 20px;
          outline: none;
          padding: 1px 5px;
        }
      }
    }
  }

  .inner {
    .main-topnav {
      .topnav {
        .mainmenu {
          display: none;
        }
      }

      .top-help {
        display: none;
      }
    }
  }


  .searchbar button {
    background: $alto;
  }

  .banner {
    .bannerSlideshow {
      .main-pic {

        position: relative;
        text-align: center;
        color: $white;

        .banner-image {
          .gradient {
            .imgText {
              display: flex;
              justify-content: center;

              .top-left {
                position: absolute;
                top: 50%;
                // left: 50%;
                transform: translate(0%, -50%);
                font-size: 40px;
                font-weight: 400;
                line-height: 1.2;
                padding: 0 30px;

                .bottom-left {
                  font-size: 20px;
                  font-weight: bolder;
                  letter-spacing: 0.1rem;
                  margin-bottom: 15px;
                }
              }
            }
          }
        }
      }



    }





    // .banner-image {

    //     .headerpic {
    //         height: 550px;
    //         //width: 100%;
    //         //background-color: black;
    //     }
    // }
  }

  .dotCounter {
    position: absolute;
    bottom: 40px;
    // left: 120px;
    transform: translate(100%, 20%);
  }

  .servicegrid {
    max-width: 100%;

    .serviceSections {
      .servicebreakdown {
        .row {

          .telecoms-b,
          .web-b,
          .cyber-b,
          .dev-b {
            width: 100%;
          }
        }
      }
    }


    .serveheadings {
      .topHeadings {
        .servicesubheading {
          display: none;
        }
      }

      .service-subheading {
        display: none;
      }
    }
  }

  .reviews {
    .container {
      padding: 50px 0;

      .intro-review {
        .welcomenet {
          .col-md-6 {
            .netButtons {
              .choose-us {
                margin-bottom: 17px !important;
              }

              .culture {
                margin-bottom: 17px !important;
              }
            }
          }
        }
      }

    }

    .googlebtn {
      font-size: 18px;
    }
  }

  .latestnews {
    // padding: 0 15px;

    .vacancies {
      .container {
        border-radius: 0 0 3px 3px;
        box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
      }

      .art-details {
        padding: 30px 15px;
      }
    }

    .jobtitle1,
    .jobtitle2,
    .jobtitle3 {
      font-weight: 400px;
      font-size: 15px;
    }

    .newsheading {
      font-size: 36px;
      // padding: 50px 0 0;
    }

    // .viewheading {
    //     font-size: 26px;
    //     margin: 0 0 15px;
    // }
  }

  .newsarticles {
    .container {
      .vacancies {
        .latestImg {
          padding: 0;
        }
      }
    }
  }

  .clients-img {
    justify-content: space-around;
  }

  .newsletter {
    .col-25 {
      float: left;
      margin-top: 6px;
    }
  }

  footer {
    .footerlist {
      font-size: 13px;
    }

    .footer-cols {
      margin-bottom: 30px;
      padding: 0;
    }

    h4 {
      margin: 0 0 26px;
    }

    .social-logos {
      .container {

        [class$="-btn"] {

          width: 35%;

        }


      }
    }

    .container {
      .main-footer {
        padding: 0;

        .container {
          padding: 0;

          .footer-sections {
            .colsforfooter {
              padding: 0 15px;
            }

            .footer-logo {
              .light-logo {
                width: 250px;
              }
            }
          }
        }
      }
    }
  }

  .copyright {
    .container {
      padding: 0;
    }
  }
}

// mobile landscape
@media (min-width: 575px) {

  .postedby {
    font-size: 15px;
  }

  // .smallnav {
  //   .container {
  //     .searchform {
  //       margin-top: 11px;
  //       position: relative;

  //       .searchbar {
  //         // background-color: $alto;
  //         // border: none;

  //         border: 2px solid rgba(0, 0, 0, 0.1);
  //         // font-size: 20px;
  //         padding: 5px 40px 5px 15px;
  //         background-color: rgba(0, 0, 0, 0.1);
  //         outline: 1px solid hsla(0, 0%, 100%, 0.2);
  //         width: 100%;
  //         position: relative;
  //         transition: none;

  //         input {
  //           visibility: hidden;
  //         }

  //         // position:relative;

  //         // ::placeholder {
  //         //     font-size: 12px;
  //         // }
  //       }

  //       .searchbar button {
  //         background: none;
  //         border: none;
  //         color: $primary-dark-col;
  //         position: absolute;
  //         right: 5px;
  //         // top: 102px;
  //         line-height: 47px;
  //         font-size: 20px;
  //         outline: none;
  //         padding: 1px 5px;
  //       }
  //     }
  //   }
  // }

  .inner {
    .main-topnav {
      .container {
        // width: 750px;

        .top-help {
          // width: 100%;

          .itbtn,
          .contactbtn,
          .smallsearchphone {
            display: none;
          }
        }
      }
    }
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .top-help {
    float: right;
  }

  .top-help {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0 15px 0;
    // margin: 0 50px;
  }

  .searchbar input {
    width: 150px;
    font-size: small;
  }

  .searchbar button {
    color: $white;
    background: $primary-warm-col;
  }

  .newsarticles {
    .container {
      max-width: 100%;
      // .vacancies {
      //   .latestImg {
      //     padding: 0;
      //   }
      // }
    }
  }

  .main-pic {
    //position: relative;
    // text-align: center;
    // color: $white;

    .banner-image {
      .headerpic {
        //height: 550px;
        background-color: black;
      }
    }

    .imgText {
      //width: 750px;

      .top-left {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // //font-size: 30px;
        // font-weight: 400;
        //letter-spacing: 2px;
        //width: 100%;

        .bottom-left {
          font-size: 16px;
          font-weight: bolder;
          letter-spacing: 0.1rem;
          margin-bottom: 15px;
        }

        // .main-button {
        //     text-transform: uppercase;
        //     font-size: 15px;
        //     font-weight: bold;
        //     padding: 15px;
        //     border-radius: 5px;
        //     border: none;
        //     color: $white;
        //     background-color: $web-design;
        // }
      }
    }
  }

  .servicegrid {
    .container {
      // width: 750px;

      .serveheadings {
        .container {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    .lower-row {
      display: flex;
      flex-direction: column;

      .container {
        display: flex;
      }
    }
  }

  .reviews {
    max-width: 100%;

    .intro-review {
      .welcomenet {
        .container {
          p {
            margin: 0 0 25px;
          }

          h2,
          .clients-think {
            margin: -6px 0 40px;
          }
        }
      }
    }


    .googlebtn {
      font-size: 20px;
    }

    .trustbtn {
      padding: 10px 30px;
    }

    .reviewer {
      font-size: 17.6px;
      margin: 0;
    }

    .culture {
      margin-bottom: 17px;
    }
  }

  .latestnews {
    .container {
      // width: 750px;
      // padding-top: 50px;

      .lateheadings {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .viewheading2 {
          margin: 0;
        }

        .newsheading {
          // font-size: 30px;
          font-weight: 600;
        }

        .viewheading2 {
          font-size: 26px;
          font-weight: 600;
        }
      }
    }

    .newsarticles {
      .container {
        // max-width: fit-content;
        // width: 750px;
        // display: flex;
        // justify-content: space-around;

        .vacancies {
          .latestImg {
            padding: 0;
          }

          // width: 50%;
          // margin: 0 15px;

          // .container {
          //   // width: 345px;
          //   // padding: 30px 30px 0;
          //   // border-radius: 0 0 3px 3px;
          //   // box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          // }
        }
      }
    }
  }

  .clients-img {
    justify-content: space-between;
  }

  footer {
    .footerlist {
      font-size: 13px;
    }

    h4 {
      margin-bottom: 26px;
    }

    .footer-cols {
      width: 50%;
      // margin-bottom: 30px;
    }
  }



  footer {
    .container {
      .main-footer {
        .container {
          .footer-sections {
            .footer-logo {
              .social-logos {
                .container {

                  [class$="-btn"] {

                    width: unset;
                    //height:auto;

                  }
                }
              }

              .light-logo {
                width: 320px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {

  .tabMenu {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .inner {
    .main-topnav {

      .top-help,
      .smallnav {
        display: none;
      }
    }
  }

  header .main-topnav {
    padding: 20px 0;
  }

  .main-topnav {
    .container {
      // max-width: 750px;

      .top-help {
        width: 750px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0;
        display: block;

        .col-sm-6 {

          // width: 50%;
          // float: left;
          .container-headerLogo {
            display: table;
            table-layout: fixed;

            .logo {
              display: table-cell;
              vertical-align: middle;
              max-width: 100%;
            }
          }
        }
      }

      // .col-sm-6 {
      .searchMenu {
        float: right;
        padding: 7px 0;

        .searchInput {
          margin-left: 20px;

          float:left .pull-left {
            float: left !important;
          }

          .searchbar {
            .hidden {
              display: none !important;
              visibility: hidden !important;
            }

            input {
              padding: 5px 15px;
              border-radius: 0;
              width: 174px;
              height: 56px;
              border-color: #ccc;
              // display: inline-block !important;
              border: 1px solid #e5e5e5;
            }
          }
        }

        .btn {
          height: 56px;
          line-height: 46px;
          float: left;
          margin: 0 0 0 20px;
          padding: 0;
        }
      }
    }
  }

  .reviewer {
    padding: 0 0 25px;
  }

  .news-section {
    padding: 0;
  }

  footer {
    .container {

      //max-width: 100%;
      .main-footer {
        .container {
          flex-wrap: nowrap;

          .footer-sections {
            .colsforfooter {
              padding: 0;

              .footer-cols {
                margin: 0 0 30px;
                //padding: 0;
              }
            }

            // .footer-logo {
            //   .social-logos {
            //     .container {
            //       //width: auto;
            //     }
            //   }
            // }
          }
        }
      }
    }
  }



  .main-topnav {
    background-color: $white;
    // padding: 20px 0;
  }

  .modal-dialog {
    padding: 0;
  }

  .modal-footer {
    margin: 0;
    padding: 19px 20px 20px;
    text-align: right;
    align-items: baseline;
    flex-wrap: nowrap;

    .btn {
      width: 50%;
    }
  }

  .banner {
    max-width: 100%;

    .bannerSlideshow {
      max-width: 100%;
    }
  }

  .main-pic {
    .dotCounter {
      position: absolute;
      bottom: 50px;
      right: 50%;
      transform: translate(50%, 50%);
    }

    // .banner-image {
    //     .imgText {
    //         .top-left {
    //             font-size: 40px;

    //             .bottom-left {
    //                 font-size: 20px;
    //             }

    //             .main-button {
    //                 font-size: 20px;
    //             }
    //         }
    //     }
    // }
  }

  .service-subheading2 {
    display: none;
  }

  .servicegrid {
    // margin: 0 9px;
    padding: 50px 15px;
    // padding-top: 50px;
    // padding-bottom: 50px;
    //max-width: 750px;

    .serviceSections {
      .servicebreakdown {
        .row {

          .bespoke-b,
          .it-b,
          .digital-b {
            width: 100%;
          }

          .telecoms-b,
          .web-b,
          .cyber-b,
          .dev-b {
            width: 50%;
          }
        }
      }
    }
  }

  // .copyright {
  //   .container {
  //     width: 100%;
  //   }
  // }

  .latestnews {
    .viewheading {
      display: none;
    }

    .container {
      padding-top: 50px;
      // padding-bottom: 50px;
    }

    .newsarticles {
      .container {
        max-width: 750px;

        .vacancies {
          .latestImg {
            padding: 0;
          }
        }
      }
    }
  }

  .newsletter {
    .new-section {
      width: 720px;
    }
  }

  .reviews {

    padding: 50px 0;

    .intro-review {

      .welcomenet {
        .col-md-6 {
          width: unset
        }

      }

      .starclient {
        .col-md-6 {
          width: unset;

          // .culture,
          // .choose-us {
          //     //margin: 0 0 50px;
          // }

          p {
            margin: 0 0 25px;
          }
        }
      }
    }
  }

  // Contact us page
  .breadcrumb-container {
    .container {
      width: 750px;
    }
  }

  .bottom {
    .row {
      .col-lg-4, .col-lg-8 {
        width: 750px;
      }      
    }
  }

  .page-head {
    .container {
      width: 750px;
    }
  }
}


@media (min-width: 768px) and (max-width: 992px) {


  .banner-image {
    .imgText {
      .top-left {
        font-size: 40px;

        .bottom-left {
          font-size: 20px;
        }

        .main-button {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 992px) {

  .banner {
    .bannerSlideshow {
      .main-pic {
        .banner-image {
          .gradient {
            .imgText {
              .top-left {
                font-weight: 600;

                .bottom-left {
                  font-size: 26px;
                  font-weight: 600;
                }

              }
            }
          }
        }
      }
    }
  }

  .largeSidebar {
    visibility: visible;
    width: 350px;

  }

  .banner {
    .bannerSlideshow {
      .main-pic {
        .banner-image {
          .gradient {
            .imgText {
              display: block;
              max-width: 100%;
              text-align: left;

              .top-left {
                // top: 0;
                // bottom: 0;
                // right: 0;
                // left: 0;
                //transform: translate(-50%, -50%);
                //padding: 100px 50px;
                font-size: 64px;
                //width: 970px;
                //background: linear-gradient(270deg, transparent 25%, black);
              }

              .compactHeading,
              .top-left {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  .inner {
    .main-topnav {
      max-width: 100%;

      .topnav {
        .content-heading {
          font-size: 32px;
          text-decoration: none;
          margin-top: 15px;
          margin-bottom: 10px;
          //display:block;
          width: 100%;
        }

        .mainmenu {

          display: block;

          .container {
            // width: 1200px;

            .menu-breakdown {
              width: 100%;
              display: flex;
              justify-content: center;

              .dropdown-bespoke {
                width: 100%;
              }

              .firstrow {
                width: auto;
                padding-left: 30px;
                align-items: center;
              }
            }
          }
        }
      }
    }

  }

  .outermain.active {

    right: 350px;
    //background-color: rgba(0, 0, 0, 0.4);
    transition: left 20s filter 1s;
    filter: brightness(50%);
    height: 100%;
    //width: 100%;       

  }

  .outermain {

    right: 0;
    transition: right 0.5s, width 0.5s;

    //height: 0;
  }

  .smallsearchphone {
    //color: $telecoms;
    font-size: 30px;
  }

  .main-topnav {
    .container {
      .searchMenu {
        .hamburger {
          display: none;
        }
      }
    }
  }

  .largeSidebar {
    width: 350px;
  }

  .servicegrid {
    // margin: 0 9px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 970px;

    .serviceSections {
      .servicebreakdown {
        .row {

          .bespoke-b,
          .it-b,
          .digital-b {
            width: 33.3333%;
          }
        }
      }
    }
  }

  .reviews {
    .container {
      padding: 0;

      .intro-review {

        .welcomenet,
        .starclient {
          .col-md-6 {
            //width: 50%;

            .review1 {
              .ash-review {
                line-height: 1.7;

                .reviewer {
                  margin: 0;
                }
              }

            }

            .welcomenet {
              line-height: 1.95;
            }
          }
        }
      }
    }
  }

  .smallnav,
  .sidenav .searchbar input {
    display: none;
  }

  // Header

  .inner {
    .main-topnav {
      padding: 0;

      .container {
        // width: 970px;
        // padding: 0;

        .top-help {
          width: 100%;
          padding: 20px 15px;

          .itbtn,
          .contactbtn {
            padding: 5px 15px;
            display: block;

            &:hover {
              color: $white;
              text-decoration: none;
            }
          }

          .contactbtn {
            margin-left: 20px;
          }

          .col-md-7 {
            .searchMenu {
              .searchInput {
                .searchbar {
                  // input {
                  //     width: 300px;
                  //     height: 56px;
                  //     display: none;
                  // }

                  button {
                    border-radius: 3px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .main-topnav {
    .topnav {
      max-width: 100%;

      .mainmenu {
        .container {
          // width: 970px;

          .menu-breakdown {
            // width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }

  // Banner slider

  .main-pic {
    //position: relative;
    text-align: left;
    color: $white;

    .banner-image {
      .headerpic {
        height: 560px;
      }
    }

    .imgText {
      .top-left {
        // top: 0;
        // bottom: 0;
        // right: 0;
        // left: 0;
        // transform: translate(-50%, -50%);
        // padding: 100px 50px;
        // font-size: 64px;
        // background: linear-gradient(270deg, transparent 25%, black);

        .bottom-left {
          font-size: 20px;
          font-weight: bolder;
          letter-spacing: 0.1rem;
          margin-bottom: 15px;
        }
      }
    }
  }

  .gradient {
    position: absolute;
    height: 100%;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(270deg, transparent 25%, black);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .latestnews {
    .container {
      width: 970px;
    }

    .newsarticles {
      .container {
        max-width: 970px;
        display: block;

        .vacancies {
          .latestImg {
            padding: 0;
          }

          .container {
            width: auto;
            // height: 329.56px;
          }
        }
      }
    }

    // .container {

    //     width: 970px;
    // }
  }

  // .servicegrid {
  //   .serviceSections {
  //     .row {

  //       //display: block;

  //       // .col-md-4 {
  //       //   width: unset;
  //       // }
  //     }
  //   }

  // }



  .servicegrid {
    .container {
      // width: 970px;

      .serveheadings {
        width: 945px;

        .container {
          width: 945px;
        }
      }

      .service-blocks {
        .upper-row {
          .container {
            display: flex;
          }
        }
      }
    }
  }

  .reviews {
    padding: 50px 15px;

    //width: 970px;

    .intro-review {
      .starclient {

        //.container {
        .clients-think {
          margin-top: 0;
        }

        width: 50%;
        float: left;
        //}
      }

      .welcomenet {
        .col-md-6 {
          width: 50%;
          float: left;
          padding: 0 15px;
          line-height: 2;

          .netButtons {
            margin-top: 25px;
          }
        }

        p {
          margin-bottom: 30px;
        }
      }
    }

  }

  .clients-img {
    justify-content: space-between;
  }

  .newsletter {
    .container {
      width: 970px;
    }

    .tablerows {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;

      .row {
        flex: 1 1 450px;

        .col-25 {
          display: inline-block;
          // margin: 0 0 5px;
          width: 100%;
          padding: 0 0 0 15px;
          font-size: 16px;
        }

        .col-75 {
          float: left;
          width: 100%;
          padding: 5px 15px;
        }

        input[type="text"] {
          height: 47px;
          padding: 5px 15px;
        }
      }
    }
  }

  footer {
    .container {
      .main-footer {
        .container {
          .footer-sections {
            .colsforfooter {
              display: flex;
              flex-wrap: wrap;
              //width: 100%;
              padding: 0 15px;

              .footer-cols {
                display: flex;
                flex-direction: column;
                width: 25%;
                margin-bottom: 30px;
              }
            }
          }
        }
      }

    }


  }

  .copyright {
    .container {
      width: 970px;
    }
  }

  // Contact us page
  #middle {
    .breadcrumb-container {
      .container {
        width: 970px;
      }
    }

    .top {
      .page-head {
        .container {
          width: 970px;
        }
      }     
    }

    .office-addresses {
      .container {
        width: 970px;
      }
    }

    .bottom {
      .row {
        .col-lg-4, .col-lg-8 {
          width: 970px;
        }       
      }      
    }
  }
}

@media (min-width: 992px) and (max-width: 1259px) {
  .inner {
    .main-topnav {
      padding: 0;

      .container {
        //width: 970px;
        //padding: 0;

        display: flex;
        align-items: center;
        max-width: 1170px;

      }
    }
  }

  .reviews {
    .culture {
      margin-top: 0;
    }
  }

  .col-md-7 {
    .searchMenu {
      .searchInput {
        .searchbar {
          input {
            width: 300px;
            height: 56px;
            display: none;
          }
        }
      }
    }
  }

  .servicegrid {
    .container {
      width: 970px;

      .serveheadings {
        width: 945px;

        .container {
          width: 945px;
        }
      }

      .service-blocks {
        .upper-row {
          .container {
            display: flex;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .main-topnav {
    .container {
      .searchMenu {
        .hamburger-lg {
          display: none;
        }
      }
    }
  }

  .outermain.active {
    right: 275px;
    filter: brightness(50%);
    height: 100%;
    width: 100%;
  }

  .headerpic {
    filter: brightness(0.5);
    height: 550px;
  }

  // Contact page
  .breadcrumb-container {
    border-top: 1px solid $primary-dark-col;

    .breadcrumb {
      &>li {
        color: $primary-dark-col;

        &>a {
          color: $primary-dark-col;
        }
      }
    }
  }

  .page-head {
    background-color: $primary-dark-col;
    margin-top: -50px;
    padding: 24px 0;

    &:not(.bottom) {
      margin-bottom: 50px;
    }

    .container {

      //max-width: 100%;
      h1 {
        color: $white !important;
        margin: 0;
      }
    }
  }

  .spacer-sm {
    margin-bottom: 30px;
    //max-width: 100%;
  }

  .office-addresses {
    .service-list {
      .office-address-row {
        .col-md-4 {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) {

  .banner {
    position: relative;
  }

  .reviews {
    .container {
      max-width: 100%;

      //   .intro-review {
      //     .welcomenet {
      //       margin-bottom: 50px;
      //     }
      //}
    }
  }

  .latestnews {
    .viewheading {
      font-size: 26px;
      margin: 0 0 15px;
    }

    // padding-top: 50px;
    .latest-sections {
      .container {
        // max-width: 100%;
        // padding-top: 50px;

        .lateheadings {
          .viewheading2 {
            display: none;
          }
        }
      }

      .newsarticles {

        // padding-top: 50px;
        .container {
          .vacancy-list {
            .row {
              display: block;

              .col-sm-6 {
                width: 100%;

                .vacancies {
                  .latestImg {
                    width: 100%;
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    .container {
      max-width: 100%;

      .main-footer {
        max-width: 100%;

        .footer-sections {
          .footer-logo {
            .social-logos {
              display: inline-block;
            }
          }

          .colsforfooter {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
          }
        }
      }
    }
  }

  .copyright {
    .container {
      max-width: 100%;
    }
  }

  // Contact us page
  .hidden-xs {
    display: none !important;
  }

  .breadcrumb-container {
    .breadcrumb {
      display: none;
    }
  }
}

@media (min-width: 1260px) {
  .inner {
    .main-topnav {
      .tabMenu {
        width: 1170px;
      }

      .topnav {
        .mainmenu {

          //max-width: 100%;
          width: 1170px;

          .top-help {
            width: 1170px;

            .searchbar input {
              display: block;
              width: 240px;
            }

            .col-md-7 {
              .searchMenu {
                .searchInput {
                  .searchbar {
                    input {
                      width: 240px;
                      // height: 56px;
                      display: inline-block !important;
                    }

                    button {
                      border-radius: 0 3px 3px 0;
                    }
                  }
                }
              }
            }
          }

          .menu-breakdown {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

    }
  }

  .smallnav {
    display: none;
  }

  .main-pic {
    position: relative;
    text-align: left;
    color: $white;

    .imgText {
      width: 1170px;

      .top-left {
        width: 1170px;
      }
    }
  }

  .servicegrid {
    .container {
      width: 1170px;

      .service-blocks {
        .lower-row {
          flex-direction: row;
          justify-content: space-around;

          .lower-first {
            padding-right: 0;
          }

          .lower-second {
            padding-left: 0;
          }

          .container {
            width: 50%;
          }
        }
      }

      .servicegrid {
        .container {
          .serveheadings {
            width: 1200px;
          }
        }
      }
    }
  }

  .servicegrid {
    // margin: 0 9px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1200px;

    .serviceSections {
      .servicebreakdown {
        .row {
          display: flex;

          .telecoms-b,
          .web-b,
          .cyber-b,
          .dev-b {
            width: 25%;
          }
        }

      }
    }

  }

  .reviews {
    .container {
      width: 1170px;
    }
  }

  .trustbtn {
    position: absolute;
    max-width: fit-content;
    display: inline-flex;
    font-size: 18px;
  }

  .latestnews {
    .newsarticles {
      .container {
        max-width: 1170px;
      }
    }

    .container {
      .lateheadings {
        width: 1120px;
      }

      width: 1170px;
    }

    .lastone {
      display: block;
    }
  }

  .clients-img {
    justify-content: space-between;
  }

  .newsletter {
    .container {
      width: 1170px;
    }
  }

  footer {
    .container {
      display: flex;
      justify-content: center;
      width: 1170px;
    }

    .footer-sections {
      display: flex;
      width: 1170px;
    }

    .footer-logo {
      display: flex;
      // justify-content: space-evenly;
      flex-direction: column;
      width: 400px;

      .social-logos {
        .container {
          width: 400px;
          justify-content: flex-start;
        }
      }
    }

    .footer-cols {
      padding: 0 15px;
      margin-bottom: 40px;
    }

    .colsforfooter {
      display: flex;
      justify-content: space-between;
    }
  }

  .copyright {
    .container {
      width: 1170px;
    }
  }

  .inner {
    .main-topnav {
      //max-width: 1170px;
      //padding: 0;

      .topnav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        .top-help {

          .itbtn,
          .contactbtn {
            height: 56px;
            font-size: 1.7rem;
            padding: 5px 15px;
            display: inline-block;
          }
        }
      }
    }
  }

  // Contact us page
  #middle {
    .breadcrumb-container {
      .container {
        width: 1200px;
      }
    }   
    .top {
      .page-head {
        .container {
          width: 1200px;
        }
      }
    } 
    .office-addresses {
      .container {
        width: 1200px;
      }
    }

    
    
  }
}

@media (min-width: 768px) and (max-width: 1259px) {
  .latestnews {
    .latest-sections {
      .container {
        .vacancy-list {
          .row {
            .col-lg-4:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
}