/* Media queries */
// All media queries

.container {
    @media(min-width:576px) {}

    @media(min-width:768px) {}

    @media(min-width:992px) {}

    @media(min-width:1200px) {}

    width:100%;
}

// hide nav on small screens
@media screen and (max-width:575px) {

    .smallnav {
        .container {
            padding: 0;
        }
    }

    .inner {
        .main-topnav {
            .top-help {
                display: none;
            }
        }
    }

    .smallnav,
    .smallnavtop {
        @include flexevencenter;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;


        .logo {
            width: 60%;
        }
    }

    .smallnav {
        width: 100%;

        .container {
            width: 320px;

            .searchform {
                .searchbar {
                    .searchbtn {
                        font-size: 20px;
                    }
                }
            }

            .smallnavtop {
                width: 320px;

                .smallsearchphone {
                    font-size: 35px;
                }
            }
        }
    }

    .searchbar input {
        background-color: $alto;
        border: none;
    }

    .searchform {
        @include flexevencenter;
        align-content: center;
    }

    .searchbar {
        border: 1px solid $primary-warm-col;
    }

    .searchbar button {
        background: $alto;
    }


    .topnav {
        .mainmenu {
            display: none;
        }
    }

    .main-pic {
        position: relative;
        text-align: center;
        color: $white;

        .container {
            .top-left {
                position: absolute;
                top: 50%;
                // left: 50%;
                transform: translate(0%, -50%);
                font-size: 40px;
                font-weight: 400;
                line-height: 1.2;
                padding: 0 30px;

                .bottom-left {
                    font-size: 20px;
                    font-weight: bolder;
                    letter-spacing: .1rem;
                    margin-bottom: 15px;
                }

                // .main-button {
                //     text-transform: uppercase;
                //     font-size: 15px;
                //     font-weight: bold;
                //     padding: 15px;
                //     border-radius: 5px;
                //     border: none;
                //     color: $white;
                //     // background-color: $web-design;
                // }
            }

        }

        .banner-image {

            .headerpic {
                height: 60vh;
                width: 100%;
                background-color: black;
            }
        }
    }

    .dotCounter {
        position:absolute;
        bottom: 40px;
        // left: 120px;
        transform: translate(100%, 20%);
    }

    .servicegrid {
        .upper-row {
            .container {
                .container {
                    padding: 0;
                }
            }
        }

        .lower-row {
            .container {
                .container {
                    padding: 0;

                }

            }
        }

        .serveheadings {
            .service-subheading {
                display: none;
            }
        }
    }




    .reviews {
        .googlebtn {
            font-size: 18px;
        }
    }


    .latestnews {
        padding: 0 15px;

        .viewheading2 {
            display: none;
        }

        .vacancies {
            .container {
                border-radius: 0 0 3px 3px;
                box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
            }

            .art-details {
                padding: 30px;
            }
        }


        .jobtitle1,
        .jobtitle2,
        .jobtitle3 {
            font-weight: 400px;
            font-size: 15px;
        }

        .newsheading {
            font-size: 36px;
        }

        .viewheading {
            font-size: 26px;
        }
    }

    .newsarticles {
        .container {
            .vacancies {
                .latestImg {
                    padding: 0;
                }
            }
        }
    }


    .clients-img {
        justify-content: space-around;
    }

    .newsletter {
        .col-25 {
            float: left;
            margin-top: 6px;
        }

    }

    footer {
        .footerlist {
            font-size: 13px;
        }

        .footer-cols {
            margin-bottom: 30px;
        }

        h4 {
            margin-bottom: 26px;
        }

        .social-logos {
            .container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 30px;
                padding-left: 0;

                [class$="-btn"] {
                    padding: 12px 22px 16px;
                    background-color: $ebony-clay;
                    font-size: 26px;
                    line-height: 26px;
                    color: $white;
                    width: 35%;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    text-align: center;
                }

                .fb-btn:hover {
                    background-color: #3b5998;
                    text-decoration: none;
                }

                .ln-btn:hover {
                    background-color: #0077b5;
                    text-decoration: none;
                }

                .tw-btn:hover {
                    background-color: #00aced;
                    text-decoration: none;
                }

                .in-btn:hover {
                    background-color: #d93175;
                    text-decoration: none;
                }
            }
        }

        .container {
            .main-footer {
                .container {
                    .footer-sections {
                        .footer-logo {
                            .light-logo {
                                width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}



// mobile landscape
@media screen and (min-width: 575px) {
    .inner {
        .main-topnav {
            .container {
                width: 750px;

                .top-help {
                    width: 100%;

                    .itbtn,
                    .contactbtn,
                    .smallsearchphone {
                        display: none;
                    }
                }
            }

            .smallnav {
                display: none;
            }
        }
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .top-help {
        float: right;
    }

    .top-help {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 15px 0 15px 0;
        // margin: 0 50px;
    }

    .top-help .logo {
        width: 50%;
    }

    .searchbar input {
        width: 150px;
        font-size: small;
    }

    .searchbar button {
        color: $white;
        background: $primary-warm-col;
    }

    .newsarticles {
        .container {
            .vacancies {
                .latestImg {
                    padding: 0;
                }
            }
        }
    }


    .main-pic {
        position: relative;
        text-align: center;
        color: $white;

        .banner-image {
            .headerpic {
                height: 550px;
                background-color: black;
            }
        }

        .container {
            width: 750px;

            .top-left {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 2px;
                width: 100%;

                .bottom-left {
                    font-size: 16px;
                    font-weight: bolder;
                    letter-spacing: .1rem;
                    margin-bottom: 15px;
                }

                // .main-button {
                //     text-transform: uppercase;
                //     font-size: 15px;
                //     font-weight: bold;
                //     padding: 15px;
                //     border-radius: 5px;
                //     border: none;
                //     color: $white;
                //     background-color: $web-design;
                // }
            }
        }
    }




    .servicegrid {
        .container {
            width: 750px;

            .serveheadings {
                .container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }


        .lower-row {
            display: flex;
            flex-direction: column;

            .container {
                display: flex;
            }
        }

        .service-subheading2 {
            display: none;
        }
    }

    .reviews {
        .container {
            width: 720px;

            .intro-review {
                .welcomenet {
                    .container {
                        p {
                            margin: 0 0 25px;
                        }

                        h2 {
                            margin: -6px 0 40px;
                        }
                    }
                }
            }
        }

        .googlebtn {
            font-size: 20px;
        }

        .trustbtn {
            padding: 10px 30px;
        }

        .reviewer {
            font-size: 17.6px;
            margin: 0;
        }

        .culture {
            margin-bottom: 17px;
        }
    }


    .latestnews {
        .container {
            width: 750px;
            padding-top: 50px;

            .lateheadings {
                display: flex;
                justify-content: space-between;

                .newsheading,
                .viewheading2 {
                    margin: 0;
                }

                .newsheading {
                    font-size: 30px;
                    font-weight: 600;
                }

                .viewheading2 {
                    font-size: 26px;
                    font-weight: 600;
                }
            }
        }

        .newsarticles {
            .container {
                width: 750px;
                display: flex;
                justify-content: space-around;

                .vacancies {
                    .latestImg {
                        padding: 0;
                    }

                    width: 50%;
                    margin: 0 15px;

                    .container {
                        width: 350px;
                        padding: 30px;
                        border-radius: 0 0 3px 3px;
                        box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
                    }
                }
            }
        }
    }


    .viewheading,
    .lastone,
    .secone {
        display: none;
    }




    .clients-img {
        justify-content: space-between;
    }

    .newsletter {
        .container {
            width: 720px;
        }
    }

    footer {
        // .container {
        //     // width: 750px;
        // }

        .footerlist {
            font-size: 13px;
        }

        .colsforfooter {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        h4 {
            margin-bottom: 26px;
        }

        .footer-cols {
            width: 50%;
            margin-bottom: 30px;
        }
    }

    .social-logos {
        .container {
            display: flex;
            flex-direction: row;
            // flex-wrap: wrap;
            margin-bottom: 30px;
            padding-left: 0;

            [class$="-btn"] {
                padding: 12px 22px 16px;
                background-color: $ebony-clay;
                font-size: 26px;
                line-height: 26px;
                color: $white;
                // width: 35%;
                margin-right: 10px;
                margin-bottom: 10px;
                text-align: center;
            }

            .fb-btn:hover {
                background-color: #3b5998;
                text-decoration: none;
            }

            .ln-btn:hover {
                background-color: #0077b5;
                text-decoration: none;
            }

            .tw-btn:hover {
                background-color: #00aced;
                text-decoration: none;
            }

            .in-btn:hover {
                background-color: #d93175;
                text-decoration: none;
            }
        }
    }

    footer {
        .container {
            .main-footer {
                .container {
                    .footer-sections {
                        .footer-logo {
                            .light-logo {
                                width: 320px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px)  {

    .main-topnav {
        background-color: $white;
    }

    .modal-dialog {
        padding:0;
    }

    .modal-footer {
        margin: 0;
        padding: 19px 20px 20px;
        text-align: right;
        align-items: baseline;
        flex-wrap: nowrap;
        .btn {
            width: 50%;
        }
    }

    .banner {
        max-width: 100%;
        .bannerSlideshow {
            max-width: 100%;
        }
    }

    .main-pic {
        .dotCounter {
            position: absolute;
            bottom: 50px;
            right: 50%;
            transform: translate(50%, 50%);
        }
        .banner-image {
            .imgText {
                .top-left {
                    font-size: 40px;
                    .bottom-left {
                        font-size: 20px;
                    }
                    .main-button {
                        font-size: 20px;
                    }
                }
            }
        }
    }


    .servicegrid {
        .container {
            .serveheadings {
                display:flex;
                justify-content: space-between;
                width: 700px;
                .container {
                    width: 700px;
                }
            }
            .service-blocks {
                .upper-row {

                    .bespoke-b,
                    .it-b,
                    .digital-b {
                        width: 720px;
                    }
                }
            }

            .serveheadings {
                .container {
                    display: block;

                    h3 {
                        float: left;
                    }

                    .service-subheading {
                        float: right;
                    }
                }

                // width: 750px;
            }
        }
    }

    .copyright {
        .container {
            width: 750px;
        }
    }

    .latestnews {
        .newsarticles {
            .container {
                .vacancies {
                    .latestImg {
                        padding: 0;
                    }
                }
            }
        }
    }

    .newsletter {
        .new-section {
            width: 720px;
        }
    }

    // .reviews {
    //     .container {
    //         width: 750px;
    //     }
    // }


    
}

@media screen and (min-width: 992px) {





    .smallnav,
    .smallsearchphone,
    .searchbar input {
        display: none;
    }

    .inner {
        .main-topnav {
            .container {
                width: 970px;

                .top-help {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 20px 0;
                    width: 970px;
                    padding: 0;

                    .itbtn,
                    .contactbtn {
                        display: block;
                    }
                }
            }
        }
    }

    .main-topnav {
        .topnav {
            width: 100%;

            .mainmenu {
                .container {
                    width: 970px;

                    .menu-breakdown {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    // Banner slider

    .main-pic {
        .banner-image {
            .imgText {
                .top-left {
                    font-size: 64px;
                    .bottom-left {
                        font-size: 26px;
                    }
                }
            }
        }
    }

    .main-pic {
        position: relative;
        text-align: left;
        color: $white;

        .container {
            width: 970px;

            .top-left {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-45%, -50%);
                font-size: 64px;
                font-weight: 400;
                letter-spacing: 2px;
                width: 970px;

                .bottom-left {
                    font-size: 20px;
                    font-weight: bolder;
                    letter-spacing: .1rem;
                    margin-bottom: 15px;
                }

                // .main-button {
                //     text-transform: uppercase;
                //     font-size: 15px;
                //     // font-weight: bold;
                //     padding: 15px;
                //     border-radius: 5px;
                //     border: none;
                //     color: $white;
                //     background-color: $web-design;
                // }
            }
        }
    }

    .latestnews {
        .container {
            width: 930px;
        }

        .newsarticles {
            .container {
                .vacancies {
                    .latestImg {
                        padding: 0;
                    }

                    .container {
                        width: 100%;
                        // height: 329.56px;
                    }
                }

                width: 940px;
            }
        }

        // .container {

        //     width: 970px;
        // }
    }









    .servicegrid {
        .container {
            width: 970px;

            .serveheadings {
                width: 945px;

                .container {
                    width: 945px;
                }
            }

            .service-blocks {
                .upper-row {
                    .container {
                        display: flex;
                    }
                }
            }
        }
    }

    .reviews {
        .container {
            width: 970px;

            .intro-review {
                .starclient {
                    .container {
                        width: 50%;
                        float: left;
                    }
                }

                .welcomenet {
                    .container {
                        width: 50%;
                        float: left;
                        padding: 0 15px;
                    }
                }
            }
        }
    }

    .clients-img {
        justify-content: space-between;
    }

    .newsletter {
        .container {
            width: 970px;
        }

        .tablerows {
            display: flex;
            margin-left: -15px;
            margin-right: -15px;

            .row {
                flex: 1 1 450px;

                .col-25 {
                    display: inline-block;
                    // margin: 0 0 5px;
                    width: 100%;
                    padding: 0 0 0 15px;
                    font-size: 16px;
                }

                .col-75 {
                    float: left;
                    width: 100%;
                    padding: 5px 15px;
                }

                input[type=text] {
                    height: 47px;
                    padding: 5px 15px;
                }
            }
        }
    }


    footer {
        .container {
            width: 970px;
        }

        .colsforfooter {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        .footer-cols {
            display: flex;
            flex-direction: column;
            width: 25%;
            margin-bottom: 30px;
        }
    }

    .copyright {
        .container {
            width: 970px;
        }
    }



}

@media screen and (min-width: 992px) and (max-width: 1100px) {
    .servicegrid {
        .container {
            width: 970px;

            .serveheadings {
                width: 945px;

                .container {
                    width: 945px;
                }
            }

            .service-blocks {
                .upper-row {
                    .container {
                        display: flex;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 575px) and (max-width:750px) {
    .inner {
        .main-topnav {
            .container {
                width: 550px;
            }
        }
    }
}

@media screen and (min-width:575px) and (max-width: 970px) {
    .topnav {
        .mainmenu {
            display: none;

        }
    }
}


@media screen and (min-width: 1200px) {

    .inner {
        .main-topnav {
            .container {
                width: 1120px;

                .top-help {
                    .logo {
                        width: 35%;
                    }

                    width: 100%;

                    .searchbar input {
                        display: block;
                        width: 240px;
                    }
                }
            }
        }
    }

    .smallnav {
        display: none;
    }

    .main-topnav {
        .topnav {
            .mainmenu {
                .container {
                    width: 1170px;

                    .menu-breakdown {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .dropdown-bespoke {
                            width: 100%;
                        }

                        .firstrow {
                            width: auto;
                            padding-left: 30px;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    .main-pic {
        position: relative;
        text-align: left;
        color: $white;

        .container {
            position: relative;
            width: 1170px;

            .top-left {
                position: absolute;
                // top: 50%;
                // left: 50%;
                transform: translate(-52%, -120%);
                font-size: 60px;
                font-weight: 400;
                line-height: normal;
                // width: 50%;

                .bottom-left {
                    font-size: 26px;
                    font-weight: bold;
                    letter-spacing: .1rem;
                    margin-bottom: 15px;
                }

                .main-button {
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: bold;
                    padding: 15px;
                    border-radius: 5px;
                    border: none;
                    color: $white;
                    background-color: $web-design;
                }
            }
        }
    }

    .servicegrid {
        .container {
            width: 1170px;

            .service-blocks {
                .lower-row {
                    flex-direction: row;
                    justify-content: space-around;

                    .lower-first {
                        padding-right: 0;
                    }

                    .lower-second {
                        padding-left: 0;
                    }

                    .container {
                        width: 50%;
                    }
                }
            }

            .servicegrid {
                .container {
                    .serveheadings {
                        width: 1170px;
                    }
                }
            }

            // .serveheadings {
            //     .container {
            //         width: 1130px;
            //     }
            // }
        }
    }


    .servicegrid {
        .container {
            width: 1170px;
            .serveheadings {
                display:flex;
                justify-content: space-between;
                width: 1130px;
            }
        }
    }


    

 




    .reviews {
        .container {
            width: 1170px;
        }
    }

    .trustbtn {
        position: absolute;
        max-width: fit-content;
        display: inline-flex;
        font-size: 18px;
    }


    .latestnews {
        .newsarticles {
            .container {
                width: 1170px;
            }
        }

        .container {
            .lateheadings {
                width: 1120px;
            }

            width: 1170px;


        }

        .lastone {
            .art-details {
                height: 288.13px;
            }

            display: block;
        }
    }




    .clients-img {
        justify-content: space-between;
    }

    .newsletter {
        .container {
            width: 1170px;
        }
    }

    footer {
        .container {
            display: flex;
            justify-content: center;
            width: 1170px;
        }

        .footer-sections {
            display: flex;
            width: 1170px;
        }

        .footer-logo {
            display: flex;
            // justify-content: space-evenly;
            flex-direction: column;
            width: 400px;

            .social-logos {
                .container {
                    width: 400px;
                    justify-content: flex-start;
                }
            }
        }

        .footer-cols {
            padding: 0 15px;
            margin-bottom: 40px;
        }

        .colsforfooter {
            display: flex;
            justify-content: space-between;
        }

        // .main-footer {
        //     .container {
        //         display:flex;
        //     }
        // }
    }

    .copyright {
        .container {
            width: 1170px;
        }
    }


    .inner {
        .container {
            width: 100%;
            padding: 0;

            .container {
                width: 1170px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .top-help {

                    .itbtn,
                    .contactbtn {
                        height: 56px;
                        font-size: 1.125rem;
                        padding: 5px 15px;
                        display: inline-block;
                    }
                }
            }
        }
    }








}