// Fonts
$primary-font           : 'Poppins', sans-serif;

// Colors
$primary-dark-col       : #333645;
$primary-warm-col       : #a3a8ac;
$mineshaft              : #333;
$white                  : #fff;
$bespoke                : #67809f;
$it-support             : #4183d7;
$digital-market         : #2ecc71;
$telecoms               : #d64541;
$web-design             : #926fb1;
$cyber                  : #f62459;
$developer              : #ce4125;
$jade                   : #00b67b;
$charade                : #272936;
$alto                   : #ddd;
$dove-gray              : #666;
$emperor                : #555;
$tuna                   : #323544;
$ebony-clay             : #212330;



%topcontactbtn {
    color: $white;
    border-radius: 5px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 12px;
    border:none;
}
%btnwhitett {
    text-transform: uppercase;
    color:$white;
    padding: 15px;
    border-style: none;
}
%linkunderline {
    color: $white;
    text-decoration:underline;
}
%smallspacing {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}

// Text
$base__font-size                : 25px;
$base__line                     : 40px;

// Calculate em values
@function em($target, $context: $base__font-size) {
    @return calc($target / $context) * 1em;
}