// Fonts
$primary-font           : 'Poppins', sans-serif;

// Colors
$primary-dark-col       : #333645;
$primary-warm-col       : #a3a8ac;
$mineshaft              : #333;
$white                  : #fff;
$hoki                   : #67809f;
$havelock-blue          : #4183d7;
$shamrock               : #2ecc71;
$valencia               : #d64541;
$wisteria               : #926fb1;
$radical-red            : #f62459;
$punch                  : #ce4125;
$jade                   : #00b67b;
$charade                : #272936;
$alto                   : #ddd;
$dove-gray              : #666;
$emperor                : #555;
$tuna                   : #323544;
$ebony-clay             : #212330;